# 3er Entregable

Integrantes:
- Araoz, Tania
- Bajo, Pablo
- Barrera, Manuel

## Carga de librerias a utilizar

In [59]:
import pandas as pd
from datetime import datetime
from scipy.sparse import csr_matrix
from lightfm import LightFM
import numpy as np
from sklearn.model_selection import GridSearchCV

## Carga de datasets

In [60]:
movies = pd.read_csv("../data/ml-latest/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Dataset de ratings con interacciones

In [61]:
ratings = pd.read_csv("../data/ml-latest/ratings.csv").sample(300000, random_state=42).sort_values(by='timestamp', ascending=True).reset_index(drop=True)
ratings.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0  822873600
1  268919       23     2.0  823185233
2   25445       52     4.0  823255313
3   80271       70     3.0  823264587
4  311037       74     4.0  823867612

> Como el data set es muy grande, se recorta a 300mil registros, se utiliza el método sample de pandas con random state para tener siempre el mismo dataset.

In [62]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     300000 non-null  int64
 1   movieId    300000 non-null  int64
 2   rating     300000 non-null  float64
 3   timestamp  300000 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 9.2 MB

> El dataset contiene 300000 interacciones.

> El timestamp está en formato int64, se debe convertir a formato fecha para poder trabajar.

In [63]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

> No hay valores nulos

In [64]:
ratings['userId'].nunique()

119409

> El dataset tiene 119409 ususarios.

In [65]:
ratings['movieId'].nunique()

17006

> el dataset contiene ratings de 17006 peliculas.

In [66]:
ratings['rating'].sort_values(ascending=True).unique()

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

> Los valores posibles de ratings van del 0.5 al 5, con un incremento de 0.5.

## Preprocesado

Convertimos el timestamp numerico en formato fecha

In [67]:
ratings["timestamp"] = ratings["timestamp"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y/%m/%d'))

In [68]:
ratings["timestamp"]

0         1996/01/29
1         1996/02/01
2         1996/02/02
3         1996/02/02
4         1996/02/09
             ...
299995    2023/07/19
299996    2023/07/19
299997    2023/07/20
299998    2023/07/20
299999    2023/07/20
Name: timestamp, Length: 300000, dtype: object

> Vemos que la fecha tiene un formato de fecha, pero la columna es de tipo object

Utilizando pandas convertimos a un formato de fechas que permita el filtrado

In [69]:
ratings["timestamp"] = pd.to_datetime(ratings['timestamp'], format='%Y/%m/%d')

In [70]:
ratings["timestamp"]

0        1996-01-29
1        1996-02-01
2        1996-02-02
3        1996-02-02
4        1996-02-09
            ...
299995   2023-07-19
299996   2023-07-19
299997   2023-07-20
299998   2023-07-20
299999   2023-07-20
Name: timestamp, Length: 300000, dtype: datetime64[ns]

> Vemos que la columna tiene el formato datetime64

In [71]:
ratings.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

> Nos queda un dataset con formato de fecha de fácil manipulación

Vemos el rango de fechas del dataset

In [72]:
ratings.timestamp.min()

Timestamp('1996-01-29 00:00:00')

In [73]:
ratings.timestamp.max()

Timestamp('2023-07-20 00:00:00')

> Vemos que el rango de fechas va desde el 29/03/1996 al 24/09/24

### Dividimos dataset en train, test y validation
Vemos la catidad de ratings por año

In [74]:
plot_df = ratings.copy()
plot_df["year"] = ratings.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097
19  2015          16411
20  2016          17918
21  2017          16571
22  2018          12816
23  2019          12904
24  2020          15463

> Tomamos una proporción 80/20 para dividir el dataset en train - test

In [75]:
train = ratings[(ratings.timestamp < datetime(year=2017, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

In [76]:
train.shape

(217239, 4)

> Dataset de train quedan 217239 interacciones

In [77]:
test = ratings[ratings.timestamp >= datetime(year=2017, month=1, day=1)]
test.head()

        userId  movieId  rating  timestamp
217239  291055     5218     4.0 2017-01-01
217240  291055   135887     4.5 2017-01-01
217241  291055     7451     2.0 2017-01-01
217242  291055     5444     2.5 2017-01-01
217243  178800    40339     2.5 2017-01-01

In [78]:
test.shape

(82761, 4)

In [79]:
test.userId.nunique()

30230

> El dataset de test tiene 30230 ususarios.

In [80]:
test.movieId.nunique()

11954

> el dataset test contiene ratings de 11954 peliculas.

In [81]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097
19  2015          16411
20  2016          17918

> Definimos el conjunto de validación, en función de nuestro conjunto de entrenamiento. Con cantidad 90/10.

In [82]:
validation = train[train.timestamp >= datetime(year=2015, month=1, day=1)]
validation.head()

        userId  movieId  rating  timestamp
182910  201998     4701     3.5 2015-01-01
182911   61766    63859     3.0 2015-01-01
182912   61766    74685     0.5 2015-01-01
182913  215460     5218     2.5 2015-01-01
182914  188012   112552     5.0 2015-01-01

In [83]:
validation.shape

(34329, 4)

In [84]:
validation.userId.nunique()

14731

> El dataset de validacion tiene 14731 ususarios.

In [85]:
validation.movieId.nunique()

6010

> el dataset validación contiene ratings de 6010 peliculas.

In [86]:
plot_df = validation.copy()
plot_df["year"] = validation.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

   year  reviews_count
0  2015          16411
1  2016          17918

Redefinimos el conjunto de entrenamiento.

In [87]:
train = train[(train.timestamp < datetime(year=2015, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

In [88]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097

In [89]:
train.shape

(182910, 4)

In [90]:
train.userId.nunique()

78748

> El dataset train tiene 78748 ususarios.

In [91]:
train.movieId.nunique()

9542

> el dataset train contiene ratings de 9542 peliculas.

> La matriz resultante deberá tener 78748 filas representando a los usuarios, y 9542 columnas representando las películas

### CooldStart
Analizamos los casos de coldstart en cada dataset

In [92]:
test[~test.userId.isin(train.userId.unique())].userId.nunique()

28749

> Tenemos 28749 Usuarios que se encuentra en el dataset de test y no en el de train.

In [93]:
validation[~validation.userId.isin(train.userId.unique())].userId.nunique()

13275

> Tenemos 13275 Usuarios que se encuentra en el dataset de validation y no en el de train.

### Matriz de Interacciones
Para el armado de la matriz de interaccion nos quedamos con las columnas que vamos a usar

In [94]:
interactions_train = train[["userId", "movieId", "rating"]].copy()
interactions_train.head()

   userId  movieId  rating
0   86847       34     5.0
1  268919       23     2.0
2   25445       52     4.0
3   80271       70     3.0
4  311037       74     4.0

Armamos la matriz con metodo pivot de pandas

In [95]:
interactions_matrix = interactions_train.pivot(index="userId", columns="movieId", values="rating")

In [96]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,117865,118101,118198,118344,118492,118696,118866,119141,119804,120128
userId,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Completamos los valores nulos cons 0

In [97]:
interactions_matrix = interactions_matrix.fillna(0)

MemoryError: Unable to allocate 5.60 GiB for an array with shape (78748, 9542) and data type float64

In [ ]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,117865,118101,118198,118344,118492,118696,118866,119141,119804,120128
userId,,,,,,,,,,,,,,,,,,,,,
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
interactions_matrix.shape

(78748, 9542)

> Nos queda una matriz de 78748 usuarios y 9542 películas, coincidiendo con lo visto anteriormente.

Reducimos el tamaño en memoria de la matriz para poder entrenar el modelo

In [ ]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

Creamos un diccionario para mapear el id de usuario con su índice en la matriz

In [ ]:
user_ids = list(interactions_matrix.index)
user_map = {}
counter = 0
for i in user_ids:
    user_map[i] = counter
    counter += 1

In [ ]:
user_map

{6: 0,
 7: 1,
 14: 2,
 21: 3,
 24: 4,
 25: 5,
 31: 6,
 35: 7,
 39: 8,
 41: 9,
 43: 10,
 45: 11,
 48: 12,
 51: 13,
 53: 14,
 62: 15,
 63: 16,
 64: 17,
 69: 18,
 72: 19,
 73: 20,
 79: 21,
 82: 22,
 88: 23,
 101: 24,
 111: 25,
 113: 26,
 117: 27,
 118: 28,
 119: 29,
 123: 30,
 124: 31,
 126: 32,
 128: 33,
 135: 34,
 137: 35,
 141: 36,
 142: 37,
 144: 38,
 148: 39,
 149: 40,
 153: 41,
 155: 42,
 157: 43,
 160: 44,
 164: 45,
 174: 46,
 176: 47,
 177: 48,
 181: 49,
 183: 50,
 187: 51,
 189: 52,
 190: 53,
 193: 54,
 198: 55,
 202: 56,
 207: 57,
 212: 58,
 214: 59,
 222: 60,
 223: 61,
 224: 62,
 227: 63,
 229: 64,
 231: 65,
 233: 66,
 240: 67,
 241: 68,
 246: 69,
 249: 70,
 255: 71,
 260: 72,
 262: 73,
 263: 74,
 265: 75,
 267: 76,
 270: 77,
 283: 78,
 284: 79,
 289: 80,
 311: 81,
 314: 82,
 315: 83,
 318: 84,
 322: 85,
 326: 86,
 328: 87,
 330: 88,
 332: 89,
 335: 90,
 339: 91,
 347: 92,
 349: 93,
 367: 94,
 381: 95,
 384: 96,
 385: 97,
 392: 98,
 408: 99,
 412: 100,
 417: 101,
 423: 102,
 425: 103,
 432: 104,
 433: 105,
 436: 106,
 439: 107,
 440: 108,
 444: 109,
 445: 110,
 446: 111,
 449: 112,
 453: 113,
 456: 114,
 458: 115,
 463: 116,
 467: 117,
 468: 118,
 473: 119,
 475: 120,
 477: 121,
 478: 122,
 479: 123,
 481: 124,
 482: 125,
 487: 126,
 490: 127,
 491: 128,
 495: 129,
 502: 130,
 503: 131,
 506: 132,
 510: 133,
 511: 134,
 513: 135,
 518: 136,
 525: 137,
 526: 138,
 529: 139,
 530: 140,
 531: 141,
 534: 142,
 536: 143,
 538: 144,
 539: 145,
 541: 146,
 543: 147,
 545: 148,
 548: 149,
 550: 150,
 552: 151,
 553: 152,
 562: 153,
 564: 154,
 565: 155,
 567: 156,
 570: 157,
 581: 158,
 586: 159,
 588: 160,
 589: 161,
 592: 162,
 598: 163,
 605: 164,
 608: 165,
 614: 166,
 624: 167,
 627: 168,
 632: 169,
 638: 170,
 641: 171,
 651: 172,
 652: 173,
 653: 174,
 654: 175,
 657: 176,
 663: 177,
 670: 178,
 675: 179,
 676: 180,
 683: 181,
 686: 182,
 702: 183,
 706: 184,
 709: 185,
 713: 186,
 716: 187,
 722: 188,
 725: 189,
 726: 190,
 734: 191,
 740: 192,
 745: 193,
 751: 194,
 754: 195,
 759: 196,
 762: 197,
 771: 198,
 772: 199,
 776: 200,
 781: 201,
 782: 202,
 783: 203,
 786: 204,
 793: 205,
 808: 206,
 815: 207,
 821: 208,
 826: 209,
 831: 210,
 840: 211,
 841: 212,
 842: 213,
 846: 214,
 862: 215,
 867: 216,
 868: 217,
 870: 218,
 876: 219,
 881: 220,
 883: 221,
 885: 222,
 886: 223,
 887: 224,
 889: 225,
 897: 226,
 901: 227,
 903: 228,
 904: 229,
 912: 230,
 916: 231,
 922: 232,
 927: 233,
 931: 234,
 933: 235,
 935: 236,
 940: 237,
 943: 238,
 944: 239,
 948: 240,
 956: 241,
 958: 242,
 962: 243,
 965: 244,
 970: 245,
 972: 246,
 974: 247,
 979: 248,
 982: 249,
 983: 250,
 987: 251,
 988: 252,
 990: 253,
 994: 254,
 1000: 255,
 1001: 256,
 1003: 257,
 1011: 258,
 1016: 259,
 1034: 260,
 1044: 261,
 1046: 262,
 1050: 263,
 1051: 264,
 1059: 265,
 1062: 266,
 1063: 267,
 1064: 268,
 1065: 269,
 1070: 270,
 1071: 271,
 1081: 272,
 1082: 273,
 1084: 274,
 1085: 275,
 1087: 276,
 1088: 277,
 1090: 278,
 1091: 279,
 1095: 280,
 1096: 281,
 1100: 282,
 1106: 283,
 1109: 284,
 1113: 285,
 1114: 286,
 1116: 287,
 1123: 288,
 1125: 289,
 1126: 290,
 1127: 291,
 1134: 292,
 1135: 293,
 1142: 294,
 1143: 295,
 1144: 296,
 1149: 297,
 1151: 298,
 1153: 299,
 1156: 300,
 1166: 301,
 1172: 302,
 1174: 303,
 1178: 304,
 1188: 305,
 1191: 306,
 1205: 307,
 1213: 308,
 1215: 309,
 1220: 310,
 1235: 311,
 1242: 312,
 1243: 313,
 1247: 314,
 1252: 315,
 1253: 316,
 1256: 317,
 1258: 318,
 1266: 319,
 1267: 320,
 1268: 321,
 1270: 322,
 1278: 323,
 1283: 324,
 1286: 325,
 1291: 326,
 1296: 327,
 1302: 328,
 1303: 329,
 1306: 330,
 1314: 331,
 1324: 332,
 1330: 333,
 1334: 334,
 1337: 335,
 1349: 336,
 1350: 337,
 1353: 338,
 1354: 339,
 1356: 340,
 1370: 341,
 1373: 342,
 1383: 343,
 1386: 344,
 1387: 345,
 1393: 346,
 1398: 347,
 1402: 348,
 1403: 349,
 1404: 350,
 1409: 351,
 1410: 352,
 1413: 353,
 1416: 354,
 1418: 355,
 1429: 356,
 1437: 357,
 1442: 358,
 1444: 359,
 1446: 360,
 1453: 361,
 1455: 362,
 1460: 363,
 1462: 364,
 1463: 365,
 1471: 366,
 1473: 367,
 1476: 368,
 1482: 369,
 1486: 370,
 1494: 371,
 1502: 372,
 1505: 373,
 1510: 374,
 1515: 375,
 1517: 376,
 1518: 377,
 1520: 378,
 1531: 379,
 1533: 380,
 1536: 381,
 1548: 382,
 1549: 383,
 1557: 384,
 1559: 385,
 1577: 386,
 1579: 387,
 1582: 388,
 1588: 389,
 1593: 390,
 1595: 391,
 1599: 392,
 1602: 393,
 1608: 394,
 1611: 395,
 1620: 396,
 1629: 397,
 1644: 398,
 1646: 399,
 1647: 400,
 1650: 401,
 1655: 402,
 1661: 403,
 1668: 404,
 1672: 405,
 1673: 406,
 1674: 407,
 1675: 408,
 1676: 409,
 1677: 410,
 1678: 411,
 1680: 412,
 1682: 413,
 1683: 414,
 1690: 415,
 1695: 416,
 1696: 417,
 1697: 418,
 1698: 419,
 1701: 420,
 1704: 421,
 1715: 422,
 1718: 423,
 1720: 424,
 1724: 425,
 1731: 426,
 1732: 427,
 1733: 428,
 1740: 429,
 1741: 430,
 1744: 431,
 1745: 432,
 1750: 433,
 1755: 434,
 1756: 435,
 1757: 436,
 1759: 437,
 1761: 438,
 1762: 439,
 1763: 440,
 1765: 441,
 1766: 442,
 1767: 443,
 1773: 444,
 1775: 445,
 1777: 446,
 1781: 447,
 1782: 448,
 1783: 449,
 1786: 450,
 1792: 451,
 1802: 452,
 1805: 453,
 1815: 454,
 1817: 455,
 1819: 456,
 1821: 457,
 1829: 458,
 1830: 459,
 1831: 460,
 1833: 461,
 1835: 462,
 1838: 463,
 1844: 464,
 1850: 465,
 1851: 466,
 1853: 467,
 1854: 468,
 1857: 469,
 1860: 470,
 1861: 471,
 1866: 472,
 1867: 473,
 1870: 474,
 1872: 475,
 1873: 476,
 1885: 477,
 1886: 478,
 1892: 479,
 1898: 480,
 1902: 481,
 1906: 482,
 1907: 483,
 1912: 484,
 1913: 485,
 1916: 486,
 1930: 487,
 1934: 488,
 1935: 489,
 1936: 490,
 1937: 491,
 1938: 492,
 1960: 493,
 1964: 494,
 1966: 495,
 1968: 496,
 1969: 497,
 1980: 498,
 1984: 499,
 1986: 500,
 1989: 501,
 1991: 502,
 1994: 503,
 1995: 504,
 1998: 505,
 2002: 506,
 2003: 507,
 2008: 508,
 2010: 509,
 2013: 510,
 2014: 511,
 2020: 512,
 2026: 513,
 2030: 514,
 2031: 515,
 2032: 516,
 2035: 517,
 2036: 518,
 2042: 519,
 2044: 520,
 2051: 521,
 2054: 522,
 2055: 523,
 2056: 524,
 2057: 525,
 2060: 526,
 2062: 527,
 2064: 528,
 2065: 529,
 2066: 530,
 2069: 531,
 2073: 532,
 2080: 533,
 2081: 534,
 2082: 535,
 2084: 536,
 2086: 537,
 2090: 538,
 2091: 539,
 2102: 540,
 2106: 541,
 2109: 542,
 2111: 543,
 2120: 544,
 2122: 545,
 2131: 546,
 2133: 547,
 2134: 548,
 2137: 549,
 2141: 550,
 2142: 551,
 2149: 552,
 2152: 553,
 2153: 554,
 2173: 555,
 2178: 556,
 2186: 557,
 2193: 558,
 2195: 559,
 2213: 560,
 2220: 561,
 2221: 562,
 2225: 563,
 2234: 564,
 2235: 565,
 2247: 566,
 2267: 567,
 2270: 568,
 2286: 569,
 2289: 570,
 2293: 571,
 2295: 572,
 2300: 573,
 2306: 574,
 2308: 575,
 2309: 576,
 2310: 577,
 2311: 578,
 2316: 579,
 2322: 580,
 2324: 581,
 2325: 582,
 2328: 583,
 2332: 584,
 2334: 585,
 2337: 586,
 2346: 587,
 2357: 588,
 2362: 589,
 2365: 590,
 2366: 591,
 2368: 592,
 2369: 593,
 2374: 594,
 2378: 595,
 2381: 596,
 2385: 597,
 2398: 598,
 2400: 599,
 2401: 600,
 2404: 601,
 2406: 602,
 2408: 603,
 2413: 604,
 2417: 605,
 2418: 606,
 2420: 607,
 2422: 608,
 2430: 609,
 2435: 610,
 2437: 611,
 2440: 612,
 2441: 613,
 2446: 614,
 2447: 615,
 2449: 616,
 2451: 617,
 2452: 618,
 2453: 619,
 2457: 620,
 2458: 621,
 2465: 622,
 2470: 623,
 2474: 624,
 2477: 625,
 2481: 626,
 2483: 627,
 2484: 628,
 2486: 629,
 2491: 630,
 2494: 631,
 2496: 632,
 2504: 633,
 2505: 634,
 2517: 635,
 2520: 636,
 2521: 637,
 2522: 638,
 2524: 639,
 2525: 640,
 2526: 641,
 2528: 642,
 2531: 643,
 2544: 644,
 2547: 645,
 2560: 646,
 2561: 647,
 2564: 648,
 2566: 649,
 2567: 650,
 2569: 651,
 2571: 652,
 2582: 653,
 2595: 654,
 2599: 655,
 2602: 656,
 2612: 657,
 2615: 658,
 2616: 659,
 2629: 660,
 2643: 661,
 2646: 662,
 2651: 663,
 2670: 664,
 2673: 665,
 2677: 666,
 2680: 667,
 2681: 668,
 2684: 669,
 2688: 670,
 2689: 671,
 2694: 672,
 2695: 673,
 2696: 674,
 2698: 675,
 2704: 676,
 2706: 677,
 2709: 678,
 2713: 679,
 2719: 680,
 2722: 681,
 2726: 682,
 2727: 683,
 2730: 684,
 2731: 685,
 2732: 686,
 2734: 687,
 2735: 688,
 2736: 689,
 2737: 690,
 2743: 691,
 2748: 692,
 2753: 693,
 2754: 694,
 2758: 695,
 2760: 696,
 2763: 697,
 2764: 698,
 2766: 699,
 2767: 700,
 2776: 701,
 2778: 702,
 2783: 703,
 2786: 704,
 2789: 705,
 2793: 706,
 2798: 707,
 2801: 708,
 2803: 709,
 2805: 710,
 2806: 711,
 2816: 712,
 2821: 713,
 2822: 714,
 2824: 715,
 2844: 716,
 2850: 717,
 2852: 718,
 2854: 719,
 2884: 720,
 2885: 721,
 2888: 722,
 2903: 723,
 2906: 724,
 2908: 725,
 2913: 726,
 2915: 727,
 2919: 728,
 2922: 729,
 2924: 730,
 2926: 731,
 2927: 732,
 2934: 733,
 2935: 734,
 2942: 735,
 2949: 736,
 2950: 737,
 2951: 738,
 2955: 739,
 2956: 740,
 2958: 741,
 2960: 742,
 2967: 743,
 2969: 744,
 2972: 745,
 2974: 746,
 2975: 747,
 2978: 748,
 2981: 749,
 2985: 750,
 2986: 751,
 2987: 752,
 2991: 753,
 2999: 754,
 3000: 755,
 3002: 756,
 3003: 757,
 3008: 758,
 3014: 759,
 3019: 760,
 3023: 761,
 3026: 762,
 3032: 763,
 3034: 764,
 3043: 765,
 3045: 766,
 3046: 767,
 3049: 768,
 3053: 769,
 3058: 770,
 3061: 771,
 3067: 772,
 3071: 773,
 3077: 774,
 3086: 775,
 3088: 776,
 3089: 777,
 3094: 778,
 3104: 779,
 3105: 780,
 3106: 781,
 3107: 782,
 3108: 783,
 3109: 784,
 3118: 785,
 3120: 786,
 3123: 787,
 3125: 788,
 3129: 789,
 3135: 790,
 3143: 791,
 3146: 792,
 3150: 793,
 3152: 794,
 3154: 795,
 3156: 796,
 3158: 797,
 3160: 798,
 3165: 799,
 3167: 800,
 3172: 801,
 3173: 802,
 3175: 803,
 3185: 804,
 3195: 805,
 3197: 806,
 3198: 807,
 3200: 808,
 3201: 809,
 3202: 810,
 3204: 811,
 3205: 812,
 3210: 813,
 3216: 814,
 3218: 815,
 3225: 816,
 3230: 817,
 3232: 818,
 3244: 819,
 3245: 820,
 3248: 821,
 3251: 822,
 3253: 823,
 3255: 824,
 3256: 825,
 3258: 826,
 3266: 827,
 3268: 828,
 3271: 829,
 3272: 830,
 3277: 831,
 3279: 832,
 3281: 833,
 3283: 834,
 3287: 835,
 3289: 836,
 3293: 837,
 3299: 838,
 3309: 839,
 3310: 840,
 3313: 841,
 3318: 842,
 3320: 843,
 3322: 844,
 3323: 845,
 3324: 846,
 3327: 847,
 3328: 848,
 3334: 849,
 3335: 850,
 3341: 851,
 3342: 852,
 3343: 853,
 3348: 854,
 3349: 855,
 3353: 856,
 3355: 857,
 3357: 858,
 3363: 859,
 3364: 860,
 3367: 861,
 3384: 862,
 3388: 863,
 3390: 864,
 3393: 865,
 3395: 866,
 3399: 867,
 3408: 868,
 3413: 869,
 3417: 870,
 3425: 871,
 3430: 872,
 3434: 873,
 3436: 874,
 3437: 875,
 3441: 876,
 3448: 877,
 3450: 878,
 3453: 879,
 3457: 880,
 3459: 881,
 3462: 882,
 3468: 883,
 3469: 884,
 3470: 885,
 3471: 886,
 3480: 887,
 3481: 888,
 3486: 889,
 3489: 890,
 3492: 891,
 3502: 892,
 3503: 893,
 3504: 894,
 3509: 895,
 3510: 896,
 3513: 897,
 3515: 898,
 3517: 899,
 3524: 900,
 3535: 901,
 3541: 902,
 3545: 903,
 3547: 904,
 3549: 905,
 3562: 906,
 3566: 907,
 3569: 908,
 3570: 909,
 3576: 910,
 3583: 911,
 3585: 912,
 3586: 913,
 3589: 914,
 3597: 915,
 3599: 916,
 3607: 917,
 3610: 918,
 3611: 919,
 3616: 920,
 3619: 921,
 3624: 922,
 3626: 923,
 3627: 924,
 3629: 925,
 3632: 926,
 3635: 927,
 3637: 928,
 3639: 929,
 3641: 930,
 3642: 931,
 3643: 932,
 3647: 933,
 3654: 934,
 3655: 935,
 3658: 936,
 3663: 937,
 3664: 938,
 3665: 939,
 3667: 940,
 3669: 941,
 3673: 942,
 3675: 943,
 3680: 944,
 3682: 945,
 3683: 946,
 3684: 947,
 3686: 948,
 3703: 949,
 3707: 950,
 3709: 951,
 3710: 952,
 3712: 953,
 3713: 954,
 3719: 955,
 3721: 956,
 3723: 957,
 3724: 958,
 3734: 959,
 3743: 960,
 3744: 961,
 3749: 962,
 3751: 963,
 3752: 964,
 3756: 965,
 3759: 966,
 3760: 967,
 3762: 968,
 3764: 969,
 3766: 970,
 3771: 971,
 3772: 972,
 3782: 973,
 3789: 974,
 3793: 975,
 3798: 976,
 3800: 977,
 3804: 978,
 3806: 979,
 3810: 980,
 3817: 981,
 3820: 982,
 3824: 983,
 3832: 984,
 3838: 985,
 3847: 986,
 3850: 987,
 3860: 988,
 3862: 989,
 3863: 990,
 3864: 991,
 3865: 992,
 3867: 993,
 3871: 994,
 3875: 995,
 3878: 996,
 3883: 997,
 3885: 998,
 3886: 999,
 ...}

## Entrenamiento de Modelo
Utilizamos GridSearch para encontrar los mejores hiperparametros

In [ ]:
%%time
model = LightFM()

param_grid = {
    'loss': ['logistic'],
    'no_components': [30, 50, 70, 90],
    'learning_rate': [0.03, 0.05, 0.1, 0.2],
}

grid_search = GridSearchCV(model, param_grid, cv=5, scoring='precision', n_jobs=-1)

grid_search.fit(interactions_matrix_csr, epochs=10)

best_params = grid_search.best_params_

c:\Users\pbajo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

Wall time: 7min 53s

Vemos cuales son los mejores hiperparametros

In [ ]:
best_params

{'learning_rate': 0.03, 'loss': 'logistic', 'no_components': 30}

#### Entrenamiento de modelo
Entrenamos el modelo con los mejores hiperparametros

In [ ]:
%%time
model = LightFM(no_components=30, random_state=100, learning_rate=0.03, loss='logistic')

Wall time: 0 ns

In [ ]:
%%time
model = model.fit(interactions_matrix_csr, epochs=50)

Wall time: 1min 40s

In [ ]:
model

### Metodos auxiliares
Metodo para obtener las recomendaciones en caso de ColdStart

In [ ]:
def getColdStarRecomm(dataset, no_recom): 
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones mas populares 
    '''
    recomm = dataset.groupby("movieId", as_index=False).agg({"userId":"nunique"}).sort_values(by="userId", ascending=False)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

In [ ]:
def getColdStarRandomRecomm(dataset, no_recom):
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones al azar 
    '''
    recomm = dataset[[ 'movieId', 'userId']].sample(20, random_state=42)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

Metodo para obtener los scores a partir del modelo

In [ ]:
def predict(user):
    '''
    Esta funcion recibe un usuario y retorna lista de scores
    '''
    user_predic = user_map[user]
    n_users, n_items = interactions_matrix.shape
    item_ids = np.arange(n_items)
    return model.predict(user_ids=user_predic, item_ids = item_ids)

Metodo para obtener las recomendaciones ordenadas

In [ ]:
def getOrderedMoviesId(preds, no_recom):
    '''
    Esta funcion recibe los scores predecidos y retorna lista ordenada de moviesId
    '''
    recomm = pd.Series(preds)
    recomm.index = interactions_matrix.columns
    return list(pd.Series(recomm.sort_values(ascending=False).index))[:no_recom]

Metodo para eliminar de las recomendaciones las peliculas ya vistas

In [ ]:
def getNotWatchedMovieId(user, recomm):
    '''
    Esta funcion recibe las recomendaciones y retorna lista de recomendaciones sin las peliculas vistas por el usuario
    '''
    watched = train[train.userId == user].movieId.unique()
    return [x for x in recomm if x not in watched][:20]

In [ ]:
def recomm(user, no_recom, strategy):
    result = None
    if user in list(interactions_matrix.index):
        score = predict(user)
        recomm = getOrderedMoviesId(score, no_recom)
        result = getNotWatchedMovieId(user, recomm)
    else:
        if strategy == 1:
            result = getColdStarRecomm(train, 20)
        if strategy == 2:
            result = getColdStarRandomRecomm(train, 20)
    return result

### Recomendaciones
Generamos recomendaciones para todos los ususarios de validation variando la estrategia de ColdStart

Primero usamos recomendaciones con coldstart de mas populares

In [ ]:
def recommAll_Validation(no_recom, strategy):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in validation.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom, strategy))
    return pd.DataFrame(recomms_dict)

In [ ]:
%%time
pd.options.display.max_colwidth = None
df_popular = recommAll_Validation(100, 1)#Populares
df_popular.head(3)

Recomendaciones con coldstar random

In [ ]:
%%time
df_random = recommAll_Validation(100, 2)#Random
df_random.head(3)

### Comparación
Primero generamos la recomendaciones ideales del conjunto de validación.

In [ ]:
interactions_validation = validation[["userId", "movieId", "rating"]].copy()
interactions_validation.head()

In [ ]:
ideal_recomms = interactions_validation.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms.head(5)

Proximo paso sería hacer nuevos dataframe, en donde combinariamos lo recomendado con la lista ideal para poder hacer la comparación.

Primero con recomendaciones con estrategia de coldstart con películas populares

In [ ]:
merged_df_popular = pd.merge(df_popular, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df_popular = merged_df_popular.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_popular = merged_df_popular.drop(columns=['userId'])
merged_df_popular.head()

Hacemos lo mismo pero con las recomendaciones con estrategia de ColdStart de películas al azar

In [ ]:
merged_df_random = pd.merge(df_random, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df_random = merged_df_random.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_random = merged_df_random.drop(columns=['userId'])
merged_df_random.head()

## MAP - Métricas
Utilizamos dos algoritmos de cálculos de métrica Map

In [ ]:
def map(dataframe):
  aps = []
  for pred, label in dataframe[["recomms_ideal", "recomms_df"]].values:
    n = len(pred)
    arange = np.arange(n, dtype=np.int32) + 1.
    rel_k = np.in1d(pred[:n], label)
    tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
    denom = arange[rel_k]
    ap = (tp / denom).sum() / len(label)
    aps.append(ap)
  return aps

Algoritmo investigado como alternativa

In [ ]:
def calculate_map(recommendations, test):
    average_precisions = []
    for i in range(len(test)):
        actual = test[i]
        predicted = recommendations[i]
        relevant_indices = np.nonzero(actual)[0]
        if len(relevant_indices) == 0:
            continue
        precision_sum = 0.0
        num_hits = 0
        for j, item in enumerate(predicted):
            if item in relevant_indices:
                num_hits += 1
                precision_sum += num_hits / (j + 1)
        average_precision = precision_sum / len(relevant_indices)
        average_precisions.append(average_precision)
    return np.mean(average_precisions)

Utilizamos ambos algoritmos para la estrategia de coldstart de peliculas populares

In [ ]:
MAP_1 = np.mean(map(merged_df_popular))
print(f'Mean Average Precision = {round(MAP_1, 5)}')

In [ ]:
MAP_2 = calculate_map(merged_df_popular["recomms_df"], merged_df_popular["recomms_ideal"])
print(f'Mean Average Precision = {round(MAP_2, 5)}')

Realizamos lo mismo pero con estrategia de coldstart con peliculas al azar

In [ ]:
MAP_1 = np.mean(map(merged_df_random))
print(f'Mean Average Precision = {round(MAP_1, 5)}')

In [ ]:
MAP_2 = calculate_map(merged_df_random["recomms_df"], merged_df_random["recomms_ideal"])
print(f'Mean Average Precision = {round(MAP_2, 5)}')

> Vemos que, con la estrategia de ColdStart con peliculas populares obtenemos mejores metricas

### Evaluamos las metricas con dataset de test
Como vimos que la mejor estrategia es la de ColdStart de películas populares, utilizamos esta para evaluar con dataset de test

In [ ]:
def recommAll_test(no_recom, strategy):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in test.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom, strategy))
    return pd.DataFrame(recomms_dict)

Generamos las recomendaciones

In [ ]:
%%time
pd.options.display.max_colwidth = None
df_test = recommAll_test(100, 1)#Populares
df_test

Recomendaciones ideales del conjunto de test.

In [ ]:
interactions_test = test[["userId", "movieId", "rating"]].copy()
interactions_test.head()

In [ ]:
ideal_recomms2 = interactions_test.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms2

Dataframe, en donde combinariamos lo recomendado con la lista ideal para poder hacer la comparación.

In [ ]:
merged_df_test = pd.merge(df_test, ideal_recomms2, left_on='user_id', right_on='userId', how='inner')
merged_df_test = merged_df_test.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_test = merged_df_test.drop(columns=['userId'])

merged_df_test.head()

Generamos las métricas

In [ ]:
MAP_1 = np.mean(map(merged_df_test))
print(f'Mean Average Precision = {round(MAP_1, 5)}')

In [ ]:
MAP_2 = calculate_map(merged_df_test["recomms_df"], merged_df_test["recomms_ideal"])
print(f'Mean Average Precision = {round(MAP_2, 5)}')