# 3er Entregable

Integrantes:
- Araoz, Tania
- Bajo, Pablo
- Barrera, Manuel

### Carga de librerias a utilizar

In [1]:
import pandas as pd
from datetime import datetime
from scipy.sparse import csr_matrix
from lightfm import LightFM
import numpy as np
from sklearn.model_selection import GridSearchCV

c:\Users\pbajo\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

### Carga de datasets

In [2]:
movies = pd.read_csv("../data/ml-latest/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("../data/ml-latest/ratings.csv").sample(300000, random_state=42).sort_values(by='timestamp', ascending=True).reset_index(drop=True)
ratings

        userId  movieId  rating   timestamp
0        86847       34     5.0   822873600
1       268919       23     2.0   823185233
2        25445       52     4.0   823255313
3        80271       70     3.0   823264587
4       311037       74     4.0   823867612
...        ...      ...     ...         ...
299995  254054   208108     3.0  1689806642
299996  279030   231701     4.0  1689807358
299997  310092      553     2.5  1689817643
299998  310092     1193     2.0  1689817990
299999   14033     6565     4.0  1689820181

[300000 rows x 4 columns]

> Se usa el dataset de ratings para trabajar, tiene las interacciones entre usuarios y películas

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     300000 non-null  int64
 1   movieId    300000 non-null  int64
 2   rating     300000 non-null  float64
 3   timestamp  300000 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 9.2 MB

> El dataset contiene 100836 interacciones. <span style="color:red">ACTUALIZAR CON DATASET GRANDE</span>

> El timestamp está en formato int64, se debe convertir a formato fecha para poder trabajar.

In [5]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

> No hay valores nulos

In [6]:
ratings['userId'].nunique()

119409

> El dataset tiene 610 ususarios. <span style="color:red">Cambiar con dataset grande</span>

In [7]:
ratings['movieId'].nunique()

17006

> el dataset contiene ratings de 9724 peliculas. <span style="color:red">Actualizar con dataset grande</span>

In [8]:
ratings['rating'].sort_values(ascending=True).unique()

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

> Los valores posibles de ratings van del 0.5 al 5, con un incremento de 0.5.

#### Preprocesado

Convertimos el timestamp numerico en formato fecha

In [9]:
ratings["timestamp"] = ratings["timestamp"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y/%m/%d'))

In [10]:
ratings["timestamp"]

0         1996/01/29
1         1996/02/01
2         1996/02/02
3         1996/02/02
4         1996/02/09
             ...
299995    2023/07/19
299996    2023/07/19
299997    2023/07/20
299998    2023/07/20
299999    2023/07/20
Name: timestamp, Length: 300000, dtype: object

> Vemos que la fecha tiene un formato de fecha, pero la columna es de tipo object

Utilizando pandas convertimos a un formato de fechas que permita el filtrado

In [11]:
ratings["timestamp"] = pd.to_datetime(ratings['timestamp'], format='%Y/%m/%d')

In [12]:
ratings["timestamp"]

0        1996-01-29
1        1996-02-01
2        1996-02-02
3        1996-02-02
4        1996-02-09
            ...
299995   2023-07-19
299996   2023-07-19
299997   2023-07-20
299998   2023-07-20
299999   2023-07-20
Name: timestamp, Length: 300000, dtype: datetime64[ns]

> Vemos que la columna tiene el formato datetime64

In [13]:
ratings.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

Vemos el rango de fechas del dataset

In [14]:
ratings.timestamp.min()

Timestamp('1996-01-29 00:00:00')

In [15]:
ratings.timestamp.max()

Timestamp('2023-07-20 00:00:00')

> Vemos que el rango de fechas va desde el 29/03/1996 al 24/09/24

#### Dividimos dataset en train, test y validation
Vemos la catidad de ratings por año

In [16]:
plot_df = ratings.copy()
plot_df["year"] = ratings.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097
19  2015          16411
20  2016          17918
21  2017          16571
22  2018          12816
23  2019          12904
24  2020          15463

> Tomamos una proporción 80/20 para dividir el dataset en train - test

In [17]:
train = ratings[(ratings.timestamp < datetime(year=2017, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

In [18]:
train.shape

(217239, 4)

In [19]:
train.userId.nunique()

92023

In [20]:
train.movieId.nunique()

11343

In [21]:
test = ratings[ratings.timestamp >= datetime(year=2017, month=1, day=1)]
test.head()

        userId  movieId  rating  timestamp
217239  291055     5218     4.0 2017-01-01
217240  291055   135887     4.5 2017-01-01
217241  291055     7451     2.0 2017-01-01
217242  291055     5444     2.5 2017-01-01
217243  178800    40339     2.5 2017-01-01

In [22]:
test.shape

(82761, 4)

In [23]:
test.userId.nunique()

30230

In [24]:
test.movieId.nunique()

11954

In [25]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097
19  2015          16411
20  2016          17918

> Definimos el conjunto de validación, en función de nuestro conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [26]:
validation = train[train.timestamp >= datetime(year=2015, month=1, day=1)]
validation.head()

        userId  movieId  rating  timestamp
182910  201998     4701     3.5 2015-01-01
182911   61766    63859     3.0 2015-01-01
182912   61766    74685     0.5 2015-01-01
182913  215460     5218     2.5 2015-01-01
182914  188012   112552     5.0 2015-01-01

In [27]:
validation.shape

(34329, 4)

In [28]:
validation.userId.nunique()

14731

In [29]:
validation.movieId.nunique()

6010

In [30]:
plot_df = validation.copy()
plot_df["year"] = validation.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

   year  reviews_count
0  2015          16411
1  2016          17918

> Redefinimos el conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [31]:
train = train[(train.timestamp < datetime(year=2015, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0   86847       34     5.0 1996-01-29
1  268919       23     2.0 1996-02-01
2   25445       52     4.0 1996-02-02
3   80271       70     3.0 1996-02-02
4  311037       74     4.0 1996-02-09

In [32]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996          15406
1   1997           6824
2   1998           2927
3   1999          10944
4   2000          18405
5   2001          10987
6   2002           8038
7   2003           9622
8   2004          10693
9   2005          16230
10  2006          10581
11  2007           9765
12  2008          10587
13  2009           8742
14  2010           8559
15  2011           7121
16  2012           6931
17  2013           5451
18  2014           5097

In [33]:
train.shape

(182910, 4)

¿Tenemos COLDSTAR?

In [34]:
test[~test.userId.isin(train.userId.unique())].userId.nunique()

28749

> Tenemos ### Usuarios que se encuentra en el dataset de test y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

In [35]:
validation[~validation.userId.isin(train.userId.unique())].userId.nunique()

13275

> Tenemos ### Usuarios que se encuentra en el dataset de validation y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

#### Matriz de Interacciones

In [36]:
interactions_train = train[["userId", "movieId", "rating"]].copy()
interactions_train.head()

   userId  movieId  rating
0   86847       34     5.0
1  268919       23     2.0
2   25445       52     4.0
3   80271       70     3.0
4  311037       74     4.0

In [37]:
interactions_matrix = interactions_train.pivot(index="userId", columns="movieId", values="rating")

In [38]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,117865,118101,118198,118344,118492,118696,118866,119141,119804,120128
userId,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
interactions_matrix = interactions_matrix.fillna(0)

In [40]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,117865,118101,118198,118344,118492,118696,118866,119141,119804,120128
userId,,,,,,,,,,,,,,,,,,,,,
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
interactions_matrix.shape

(78748, 9542)

In [42]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [43]:
user_ids = list(interactions_matrix.index)
user_map = {}
counter = 0
for i in user_ids:
    user_map[i] = counter
    counter += 1

In [44]:
user_map

{6: 0,
 7: 1,
 14: 2,
 21: 3,
 24: 4,
 25: 5,
 31: 6,
 35: 7,
 39: 8,
 41: 9,
 43: 10,
 45: 11,
 48: 12,
 51: 13,
 53: 14,
 62: 15,
 63: 16,
 64: 17,
 69: 18,
 72: 19,
 73: 20,
 79: 21,
 82: 22,
 88: 23,
 101: 24,
 111: 25,
 113: 26,
 117: 27,
 118: 28,
 119: 29,
 123: 30,
 124: 31,
 126: 32,
 128: 33,
 135: 34,
 137: 35,
 141: 36,
 142: 37,
 144: 38,
 148: 39,
 149: 40,
 153: 41,
 155: 42,
 157: 43,
 160: 44,
 164: 45,
 174: 46,
 176: 47,
 177: 48,
 181: 49,
 183: 50,
 187: 51,
 189: 52,
 190: 53,
 193: 54,
 198: 55,
 202: 56,
 207: 57,
 212: 58,
 214: 59,
 222: 60,
 223: 61,
 224: 62,
 227: 63,
 229: 64,
 231: 65,
 233: 66,
 240: 67,
 241: 68,
 246: 69,
 249: 70,
 255: 71,
 260: 72,
 262: 73,
 263: 74,
 265: 75,
 267: 76,
 270: 77,
 283: 78,
 284: 79,
 289: 80,
 311: 81,
 314: 82,
 315: 83,
 318: 84,
 322: 85,
 326: 86,
 328: 87,
 330: 88,
 332: 89,
 335: 90,
 339: 91,
 347: 92,
 349: 93,
 367: 94,
 381: 95,
 384: 96,
 385: 97,
 392: 98,
 408: 99,
 412: 100,
 417: 101,
 423: 102,
 425: 103,
 432: 104,
 433: 105,
 436: 106,
 439: 107,
 440: 108,
 444: 109,
 445: 110,
 446: 111,
 449: 112,
 453: 113,
 456: 114,
 458: 115,
 463: 116,
 467: 117,
 468: 118,
 473: 119,
 475: 120,
 477: 121,
 478: 122,
 479: 123,
 481: 124,
 482: 125,
 487: 126,
 490: 127,
 491: 128,
 495: 129,
 502: 130,
 503: 131,
 506: 132,
 510: 133,
 511: 134,
 513: 135,
 518: 136,
 525: 137,
 526: 138,
 529: 139,
 530: 140,
 531: 141,
 534: 142,
 536: 143,
 538: 144,
 539: 145,
 541: 146,
 543: 147,
 545: 148,
 548: 149,
 550: 150,
 552: 151,
 553: 152,
 562: 153,
 564: 154,
 565: 155,
 567: 156,
 570: 157,
 581: 158,
 586: 159,
 588: 160,
 589: 161,
 592: 162,
 598: 163,
 605: 164,
 608: 165,
 614: 166,
 624: 167,
 627: 168,
 632: 169,
 638: 170,
 641: 171,
 651: 172,
 652: 173,
 653: 174,
 654: 175,
 657: 176,
 663: 177,
 670: 178,
 675: 179,
 676: 180,
 683: 181,
 686: 182,
 702: 183,
 706: 184,
 709: 185,
 713: 186,
 716: 187,
 722: 188,
 725: 189,
 726: 190,
 734: 191,
 740: 192,
 745: 193,
 751: 194,
 754: 195,
 759: 196,
 762: 197,
 771: 198,
 772: 199,
 776: 200,
 781: 201,
 782: 202,
 783: 203,
 786: 204,
 793: 205,
 808: 206,
 815: 207,
 821: 208,
 826: 209,
 831: 210,
 840: 211,
 841: 212,
 842: 213,
 846: 214,
 862: 215,
 867: 216,
 868: 217,
 870: 218,
 876: 219,
 881: 220,
 883: 221,
 885: 222,
 886: 223,
 887: 224,
 889: 225,
 897: 226,
 901: 227,
 903: 228,
 904: 229,
 912: 230,
 916: 231,
 922: 232,
 927: 233,
 931: 234,
 933: 235,
 935: 236,
 940: 237,
 943: 238,
 944: 239,
 948: 240,
 956: 241,
 958: 242,
 962: 243,
 965: 244,
 970: 245,
 972: 246,
 974: 247,
 979: 248,
 982: 249,
 983: 250,
 987: 251,
 988: 252,
 990: 253,
 994: 254,
 1000: 255,
 1001: 256,
 1003: 257,
 1011: 258,
 1016: 259,
 1034: 260,
 1044: 261,
 1046: 262,
 1050: 263,
 1051: 264,
 1059: 265,
 1062: 266,
 1063: 267,
 1064: 268,
 1065: 269,
 1070: 270,
 1071: 271,
 1081: 272,
 1082: 273,
 1084: 274,
 1085: 275,
 1087: 276,
 1088: 277,
 1090: 278,
 1091: 279,
 1095: 280,
 1096: 281,
 1100: 282,
 1106: 283,
 1109: 284,
 1113: 285,
 1114: 286,
 1116: 287,
 1123: 288,
 1125: 289,
 1126: 290,
 1127: 291,
 1134: 292,
 1135: 293,
 1142: 294,
 1143: 295,
 1144: 296,
 1149: 297,
 1151: 298,
 1153: 299,
 1156: 300,
 1166: 301,
 1172: 302,
 1174: 303,
 1178: 304,
 1188: 305,
 1191: 306,
 1205: 307,
 1213: 308,
 1215: 309,
 1220: 310,
 1235: 311,
 1242: 312,
 1243: 313,
 1247: 314,
 1252: 315,
 1253: 316,
 1256: 317,
 1258: 318,
 1266: 319,
 1267: 320,
 1268: 321,
 1270: 322,
 1278: 323,
 1283: 324,
 1286: 325,
 1291: 326,
 1296: 327,
 1302: 328,
 1303: 329,
 1306: 330,
 1314: 331,
 1324: 332,
 1330: 333,
 1334: 334,
 1337: 335,
 1349: 336,
 1350: 337,
 1353: 338,
 1354: 339,
 1356: 340,
 1370: 341,
 1373: 342,
 1383: 343,
 1386: 344,
 1387: 345,
 1393: 346,
 1398: 347,
 1402: 348,
 1403: 349,
 1404: 350,
 1409: 351,
 1410: 352,
 1413: 353,
 1416: 354,
 1418: 355,
 1429: 356,
 1437: 357,
 1442: 358,
 1444: 359,
 1446: 360,
 1453: 361,
 1455: 362,
 1460: 363,
 1462: 364,
 1463: 365,
 1471: 366,
 1473: 367,
 1476: 368,
 1482: 369,
 1486: 370,
 1494: 371,
 1502: 372,
 1505: 373,
 1510: 374,
 1515: 375,
 1517: 376,
 1518: 377,
 1520: 378,
 1531: 379,
 1533: 380,
 1536: 381,
 1548: 382,
 1549: 383,
 1557: 384,
 1559: 385,
 1577: 386,
 1579: 387,
 1582: 388,
 1588: 389,
 1593: 390,
 1595: 391,
 1599: 392,
 1602: 393,
 1608: 394,
 1611: 395,
 1620: 396,
 1629: 397,
 1644: 398,
 1646: 399,
 1647: 400,
 1650: 401,
 1655: 402,
 1661: 403,
 1668: 404,
 1672: 405,
 1673: 406,
 1674: 407,
 1675: 408,
 1676: 409,
 1677: 410,
 1678: 411,
 1680: 412,
 1682: 413,
 1683: 414,
 1690: 415,
 1695: 416,
 1696: 417,
 1697: 418,
 1698: 419,
 1701: 420,
 1704: 421,
 1715: 422,
 1718: 423,
 1720: 424,
 1724: 425,
 1731: 426,
 1732: 427,
 1733: 428,
 1740: 429,
 1741: 430,
 1744: 431,
 1745: 432,
 1750: 433,
 1755: 434,
 1756: 435,
 1757: 436,
 1759: 437,
 1761: 438,
 1762: 439,
 1763: 440,
 1765: 441,
 1766: 442,
 1767: 443,
 1773: 444,
 1775: 445,
 1777: 446,
 1781: 447,
 1782: 448,
 1783: 449,
 1786: 450,
 1792: 451,
 1802: 452,
 1805: 453,
 1815: 454,
 1817: 455,
 1819: 456,
 1821: 457,
 1829: 458,
 1830: 459,
 1831: 460,
 1833: 461,
 1835: 462,
 1838: 463,
 1844: 464,
 1850: 465,
 1851: 466,
 1853: 467,
 1854: 468,
 1857: 469,
 1860: 470,
 1861: 471,
 1866: 472,
 1867: 473,
 1870: 474,
 1872: 475,
 1873: 476,
 1885: 477,
 1886: 478,
 1892: 479,
 1898: 480,
 1902: 481,
 1906: 482,
 1907: 483,
 1912: 484,
 1913: 485,
 1916: 486,
 1930: 487,
 1934: 488,
 1935: 489,
 1936: 490,
 1937: 491,
 1938: 492,
 1960: 493,
 1964: 494,
 1966: 495,
 1968: 496,
 1969: 497,
 1980: 498,
 1984: 499,
 1986: 500,
 1989: 501,
 1991: 502,
 1994: 503,
 1995: 504,
 1998: 505,
 2002: 506,
 2003: 507,
 2008: 508,
 2010: 509,
 2013: 510,
 2014: 511,
 2020: 512,
 2026: 513,
 2030: 514,
 2031: 515,
 2032: 516,
 2035: 517,
 2036: 518,
 2042: 519,
 2044: 520,
 2051: 521,
 2054: 522,
 2055: 523,
 2056: 524,
 2057: 525,
 2060: 526,
 2062: 527,
 2064: 528,
 2065: 529,
 2066: 530,
 2069: 531,
 2073: 532,
 2080: 533,
 2081: 534,
 2082: 535,
 2084: 536,
 2086: 537,
 2090: 538,
 2091: 539,
 2102: 540,
 2106: 541,
 2109: 542,
 2111: 543,
 2120: 544,
 2122: 545,
 2131: 546,
 2133: 547,
 2134: 548,
 2137: 549,
 2141: 550,
 2142: 551,
 2149: 552,
 2152: 553,
 2153: 554,
 2173: 555,
 2178: 556,
 2186: 557,
 2193: 558,
 2195: 559,
 2213: 560,
 2220: 561,
 2221: 562,
 2225: 563,
 2234: 564,
 2235: 565,
 2247: 566,
 2267: 567,
 2270: 568,
 2286: 569,
 2289: 570,
 2293: 571,
 2295: 572,
 2300: 573,
 2306: 574,
 2308: 575,
 2309: 576,
 2310: 577,
 2311: 578,
 2316: 579,
 2322: 580,
 2324: 581,
 2325: 582,
 2328: 583,
 2332: 584,
 2334: 585,
 2337: 586,
 2346: 587,
 2357: 588,
 2362: 589,
 2365: 590,
 2366: 591,
 2368: 592,
 2369: 593,
 2374: 594,
 2378: 595,
 2381: 596,
 2385: 597,
 2398: 598,
 2400: 599,
 2401: 600,
 2404: 601,
 2406: 602,
 2408: 603,
 2413: 604,
 2417: 605,
 2418: 606,
 2420: 607,
 2422: 608,
 2430: 609,
 2435: 610,
 2437: 611,
 2440: 612,
 2441: 613,
 2446: 614,
 2447: 615,
 2449: 616,
 2451: 617,
 2452: 618,
 2453: 619,
 2457: 620,
 2458: 621,
 2465: 622,
 2470: 623,
 2474: 624,
 2477: 625,
 2481: 626,
 2483: 627,
 2484: 628,
 2486: 629,
 2491: 630,
 2494: 631,
 2496: 632,
 2504: 633,
 2505: 634,
 2517: 635,
 2520: 636,
 2521: 637,
 2522: 638,
 2524: 639,
 2525: 640,
 2526: 641,
 2528: 642,
 2531: 643,
 2544: 644,
 2547: 645,
 2560: 646,
 2561: 647,
 2564: 648,
 2566: 649,
 2567: 650,
 2569: 651,
 2571: 652,
 2582: 653,
 2595: 654,
 2599: 655,
 2602: 656,
 2612: 657,
 2615: 658,
 2616: 659,
 2629: 660,
 2643: 661,
 2646: 662,
 2651: 663,
 2670: 664,
 2673: 665,
 2677: 666,
 2680: 667,
 2681: 668,
 2684: 669,
 2688: 670,
 2689: 671,
 2694: 672,
 2695: 673,
 2696: 674,
 2698: 675,
 2704: 676,
 2706: 677,
 2709: 678,
 2713: 679,
 2719: 680,
 2722: 681,
 2726: 682,
 2727: 683,
 2730: 684,
 2731: 685,
 2732: 686,
 2734: 687,
 2735: 688,
 2736: 689,
 2737: 690,
 2743: 691,
 2748: 692,
 2753: 693,
 2754: 694,
 2758: 695,
 2760: 696,
 2763: 697,
 2764: 698,
 2766: 699,
 2767: 700,
 2776: 701,
 2778: 702,
 2783: 703,
 2786: 704,
 2789: 705,
 2793: 706,
 2798: 707,
 2801: 708,
 2803: 709,
 2805: 710,
 2806: 711,
 2816: 712,
 2821: 713,
 2822: 714,
 2824: 715,
 2844: 716,
 2850: 717,
 2852: 718,
 2854: 719,
 2884: 720,
 2885: 721,
 2888: 722,
 2903: 723,
 2906: 724,
 2908: 725,
 2913: 726,
 2915: 727,
 2919: 728,
 2922: 729,
 2924: 730,
 2926: 731,
 2927: 732,
 2934: 733,
 2935: 734,
 2942: 735,
 2949: 736,
 2950: 737,
 2951: 738,
 2955: 739,
 2956: 740,
 2958: 741,
 2960: 742,
 2967: 743,
 2969: 744,
 2972: 745,
 2974: 746,
 2975: 747,
 2978: 748,
 2981: 749,
 2985: 750,
 2986: 751,
 2987: 752,
 2991: 753,
 2999: 754,
 3000: 755,
 3002: 756,
 3003: 757,
 3008: 758,
 3014: 759,
 3019: 760,
 3023: 761,
 3026: 762,
 3032: 763,
 3034: 764,
 3043: 765,
 3045: 766,
 3046: 767,
 3049: 768,
 3053: 769,
 3058: 770,
 3061: 771,
 3067: 772,
 3071: 773,
 3077: 774,
 3086: 775,
 3088: 776,
 3089: 777,
 3094: 778,
 3104: 779,
 3105: 780,
 3106: 781,
 3107: 782,
 3108: 783,
 3109: 784,
 3118: 785,
 3120: 786,
 3123: 787,
 3125: 788,
 3129: 789,
 3135: 790,
 3143: 791,
 3146: 792,
 3150: 793,
 3152: 794,
 3154: 795,
 3156: 796,
 3158: 797,
 3160: 798,
 3165: 799,
 3167: 800,
 3172: 801,
 3173: 802,
 3175: 803,
 3185: 804,
 3195: 805,
 3197: 806,
 3198: 807,
 3200: 808,
 3201: 809,
 3202: 810,
 3204: 811,
 3205: 812,
 3210: 813,
 3216: 814,
 3218: 815,
 3225: 816,
 3230: 817,
 3232: 818,
 3244: 819,
 3245: 820,
 3248: 821,
 3251: 822,
 3253: 823,
 3255: 824,
 3256: 825,
 3258: 826,
 3266: 827,
 3268: 828,
 3271: 829,
 3272: 830,
 3277: 831,
 3279: 832,
 3281: 833,
 3283: 834,
 3287: 835,
 3289: 836,
 3293: 837,
 3299: 838,
 3309: 839,
 3310: 840,
 3313: 841,
 3318: 842,
 3320: 843,
 3322: 844,
 3323: 845,
 3324: 846,
 3327: 847,
 3328: 848,
 3334: 849,
 3335: 850,
 3341: 851,
 3342: 852,
 3343: 853,
 3348: 854,
 3349: 855,
 3353: 856,
 3355: 857,
 3357: 858,
 3363: 859,
 3364: 860,
 3367: 861,
 3384: 862,
 3388: 863,
 3390: 864,
 3393: 865,
 3395: 866,
 3399: 867,
 3408: 868,
 3413: 869,
 3417: 870,
 3425: 871,
 3430: 872,
 3434: 873,
 3436: 874,
 3437: 875,
 3441: 876,
 3448: 877,
 3450: 878,
 3453: 879,
 3457: 880,
 3459: 881,
 3462: 882,
 3468: 883,
 3469: 884,
 3470: 885,
 3471: 886,
 3480: 887,
 3481: 888,
 3486: 889,
 3489: 890,
 3492: 891,
 3502: 892,
 3503: 893,
 3504: 894,
 3509: 895,
 3510: 896,
 3513: 897,
 3515: 898,
 3517: 899,
 3524: 900,
 3535: 901,
 3541: 902,
 3545: 903,
 3547: 904,
 3549: 905,
 3562: 906,
 3566: 907,
 3569: 908,
 3570: 909,
 3576: 910,
 3583: 911,
 3585: 912,
 3586: 913,
 3589: 914,
 3597: 915,
 3599: 916,
 3607: 917,
 3610: 918,
 3611: 919,
 3616: 920,
 3619: 921,
 3624: 922,
 3626: 923,
 3627: 924,
 3629: 925,
 3632: 926,
 3635: 927,
 3637: 928,
 3639: 929,
 3641: 930,
 3642: 931,
 3643: 932,
 3647: 933,
 3654: 934,
 3655: 935,
 3658: 936,
 3663: 937,
 3664: 938,
 3665: 939,
 3667: 940,
 3669: 941,
 3673: 942,
 3675: 943,
 3680: 944,
 3682: 945,
 3683: 946,
 3684: 947,
 3686: 948,
 3703: 949,
 3707: 950,
 3709: 951,
 3710: 952,
 3712: 953,
 3713: 954,
 3719: 955,
 3721: 956,
 3723: 957,
 3724: 958,
 3734: 959,
 3743: 960,
 3744: 961,
 3749: 962,
 3751: 963,
 3752: 964,
 3756: 965,
 3759: 966,
 3760: 967,
 3762: 968,
 3764: 969,
 3766: 970,
 3771: 971,
 3772: 972,
 3782: 973,
 3789: 974,
 3793: 975,
 3798: 976,
 3800: 977,
 3804: 978,
 3806: 979,
 3810: 980,
 3817: 981,
 3820: 982,
 3824: 983,
 3832: 984,
 3838: 985,
 3847: 986,
 3850: 987,
 3860: 988,
 3862: 989,
 3863: 990,
 3864: 991,
 3865: 992,
 3867: 993,
 3871: 994,
 3875: 995,
 3878: 996,
 3883: 997,
 3885: 998,
 3886: 999,
 ...}

#### Modelo

In [48]:

# Definir el modelo LightFM
model = LightFM()

# Definir el espacio de búsqueda de hiperparámetros
param_grid = {
    'loss': ['logistic'],
    'no_components': [30, 50, 70, 90],
    'learning_rate': [0.03, 0.05, 0.1, 0.2],
}

# Inicializar GridSearchCV
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='precision', n_jobs=-1)

# Ejecutar la búsqueda de hiperparámetros
%%time
grid_search.fit(interactions_matrix_csr, epochs=10)

# Obtener los mejores hiperparámetros y el mejor score
best_params = grid_search.best_params_

UsageError: Line magic function `%%time` not found.

In [46]:
best_params

{'learning_rate': 0.03, 'loss': 'logistic', 'no_components': 30}

In [47]:
%%time
model = LightFM(no_components=30, random_state=100, learning_rate=0.03, loss='logistic')

Wall time: 3.99 ms

In [49]:
%%time
model = model.fit(interactions_matrix_csr, epochs=50)

Wall time: 39.7 s

In [50]:
model

#### Metodos auxiliares
Metodo para obtener las recomendaciones en caso de ColdStart

In [51]:
def getColdStarRecomm(dataset, no_recom): 
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones mas populares 
    '''
    recomm = dataset.groupby("movieId", as_index=False).agg({"userId":"nunique"}).sort_values(by="userId", ascending=False)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

In [52]:
def getColdStarRandomRecomm(dataset, no_recom):
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones al azahar 
    '''
    recomm = dataset[[ 'movieId', 'userId']].sample(20, random_state=42)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

Metodo para obtener los scores a partir del modelo

In [53]:
def predict(user):
    '''
    Esta funcion recibe un usuario y retorna lista de scores
    '''
    user_predic = user_map[user]
    n_users, n_items = interactions_matrix.shape
    item_ids = np.arange(n_items)
    return model.predict(user_ids=user_predic, item_ids = item_ids)

Metodo para obtener las recomendaciones ordenadas

In [54]:
def getOrderedMoviesId(preds, no_recom):
    '''
    Esta funcion recibe los scores predecidos y retorna lista ordenada de moviesId
    '''
    recomm = pd.Series(preds)
    recomm.index = interactions_matrix.columns
    return list(pd.Series(recomm.sort_values(ascending=False).index))[:no_recom]

Metodo para eliminar de las recomendaciones las peliculas ya vistas

In [55]:
def getNotWatchedMovieId(user, recomm):
    '''
    Esta funcion recibe las recomendaciones y retorna lista de recomendaciones sin las peliculas vistas por el usuario
    '''
    watched = train[train.userId == user].movieId.unique()
    return [x for x in recomm if x not in watched][:20]

In [56]:
def recomm(user, no_recom, strategy):
    result = None
    if user in list(interactions_matrix.index):
        score = predict(user)
        recomm = getOrderedMoviesId(score, no_recom)
        result = getNotWatchedMovieId(user, recomm)
    else:
        if strategy == 1:
            result = getColdStarRecomm(train, 20)
        if strategy == 2:
            result = getColdStarRandomRecomm(train, 20)
    return result

### Recomendaciones
Generamos recomendaciones para todos los ususarios de validation

Primero usamos recomendaciones con coldstar de mas populares

In [62]:
def recommAll_Validation(no_recom, strategy):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in validation.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom, strategy))
    return pd.DataFrame(recomms_dict)

In [63]:
%%time
pd.options.display.max_colwidth = None
df_popular = recommAll_Validation(100, 1)#Populares
df_popular.head(3)

Recomendaciones con coldstar random

In [ ]:
df_random = recommAll_Validation(100, 2)#Random
df_random.head(3)

> Como de los ## usuarios del dataset validation, ## son usuarios nuevos, les asigna las recomendaciones coldstart <span style="color:red">Actualizar con dataset grande</span>

#### Comparación

> Primero generamos la recomendaciones ideales del conjunto de validación.

In [ ]:
interactions_validation = validation[["userId", "movieId", "rating"]].copy()
interactions_validation.head()

     userId  movieId  rating
232       2      318     3.0
233       2      333     4.0
234       2     1704     4.5
235       2     3578     4.0
236       2     6874     4.0

In [ ]:
ideal_recomms = interactions_validation.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms.head(5)

,userId,movieId
0,2,"[60756, 80906, 89774, 106782, 122882, 131724, 1704, 58559, 68157, 80489, 333, 3578, 6874, 46970, 48516, 74458, 79132, 86345, 112552, 8798, 91529, 99114, 115713, 318, 71535, 77455, 109487, 91658, 114060]"
1,21,"[10, 1270, 2011, 2012, 7573, 260, 356, 648, 1196, 1210, 1544, 1580, 2947, 2948, 2949, 2989, 2990, 2991, 2993, 3633, 3635, 3638, 3639, 3984, 4489, 4963, 5445, 7569, 7570, 8529, 8984, 33004, 33493, 53121, 53322, 58998, 68954, 78637, 101864, 111759, 111781, 135887, 364, 480, 588, 597, 743, 1198, 1291, 2115, 2424, 2529, 2571, 2628, 2671, 2763, 2916, 3022, 3253, 3868, 3869, 4005, 4306, 4545, 4896, 5218, 5378, 5418, 5574, 5816, 6539, 6934, 6942, 7143, 8360, 8368, 8644, 8665, 8798, 8972, 33615, 40815, 47566, 49272, 53125, 54286, 59315, 59615, 69644, 69844, 72998, 77561, 78499, 79185, 82202, 85259, 88125, 89745, 91630, 94677, ...]"
2,29,"[1408, 5464, 6502, 111362, 4223, 5010, 104841, 111759]"
3,60,"[527, 858, 58559, 318, 362, 783, 805, 1242, 2150, 2739, 3386, 3424, 6016, 48, 50, 60, 455, 832, 1203, 1562, 2067, 2724]"
4,63,"[1, 50, 260, 296, 318, 344, 745, 1080, 1136, 1148, 1196, 1198, 1208, 1220, 1223, 1270, 1288, 2078, 2716, 2788, 2858, 2959, 3949, 5669, 6104, 7361, 8874, 32587, 33779, 38038, 48774, 51255, 57669, 58559, 77455, 77800, 79702, 86290, 89753, 89904, 91529, 92494, 92535, 97913, 98491, 102217, 106696, 108932, 111781, 115617, 134853, 608, 1210, 1965, 2542, 2692, 6016, 6350, 7980, 48516, 64285, 81845, 96610, 102445, 47, 165, 357, 364, 367, 527, 588, 589, 592, 648, 778, 858, 912, 913, 953, 1036, 1084, 1193, 1201, 1202, 1203, 1213, 1221, 1262, 1282, 1291, 1617, 1968, 2115, 2329, 2791, 3088, 3435, 3481, 3535, 3751, ...]"
...,...,...
64,573,"[858, 109487, 111362, 112852]"
65,581,"[318, 527, 3147, 4896, 5816, 5995, 7361, 356, 2324, 2762, 2959, 3949, 4022, 4226, 4306, 4886, 4993, 4995, 5349, 5952, 6377, 7153, 8368, 44191, 79132, 81845, 92259, 109487, 112552, 1704, 59315, 60069, 68954, 116797, 134130, 2571, 4973, 5989, 7147, 48394]"
66,582,"[2571, 79091, 79132, 81834, 88125, 89745, 92259, 49272, 58559, 69844, 76093, 91529, 96079, 99114, 102125, 104841, 109487, 260, 1196, 48516, 54001, 60069, 68157, 74458, 81229, 81564, 87232, 91500, 91630, 94864, 109374, 134130, 4993, 5618, 44191, 48780, 68954, 73321, 115617, 84954, 97752, 97913, 76251, 77561, 85414, 96610]"
67,598,"[5816, 7361, 46578, 54001, 56367, 79132, 101577, 103543, 113829, 114265, 124851, 130490, 4963, 5418, 63082, 1197, 110771, 4226, 4306, 8360, 593]"
68,601,"[50, 318, 527, 858, 2028, 2571, 2959, 4226, 4886, 4993, 5952, 6377, 7153, 8961, 79132, 109487, 1221, 1262, 2019, 4963, 5989, 7361, 4995, 5445, 112556, 116797, 141846]"

Proximo paso sería hacer nuevos dataframe, en donde combinariamos lo recomendado con la lista ideal para poder hacer la comparación. Uno para Popula y otro random

In [ ]:
merged_df_popular = pd.merge(df_popular, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df_popular = merged_df_popular.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_popular = merged_df_popular.drop(columns=['userId'])
merged_df_popular.head()

In [ ]:
merged_df_random = pd.merge(df_random, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df_random = merged_df_random.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_random = merged_df_random.drop(columns=['userId'])
merged_df_random.head()

### MAP

Tenemos dos algoritmos de calculos de metrica

In [214]:
def map(dataframe):
  aps = []
  for pred, label in dataframe[["recomms_ideal", "recomms_df"]].values:
    n = len(pred)
    arange = np.arange(n, dtype=np.int32) + 1.
    rel_k = np.in1d(pred[:n], label)
    tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
    denom = arange[rel_k]
    ap = (tp / denom).sum() / len(label)
    aps.append(ap)
  return aps

Algoritmo investigado

In [213]:
def calculate_map(recommendations, test):
    average_precisions = []
    for i in range(len(test)):
        actual = test[i]
        predicted = recommendations[i]
        relevant_indices = np.nonzero(actual)[0]
        if len(relevant_indices) == 0:
            continue
        precision_sum = 0.0
        num_hits = 0
        for j, item in enumerate(predicted):
            if item in relevant_indices:
                num_hits += 1
                precision_sum += num_hits / (j + 1)
        average_precision = precision_sum / len(relevant_indices)
        average_precisions.append(average_precision)
    return np.mean(average_precisions)

Calculamos para popular

In [215]:
MAP = np.mean(map(merged_df_popular))
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.08595

In [216]:
MAP_2 = calculate_map(merged_df_popular["recomms_df"], merged_df_popular["recomms_ideal"])
MAP_2

0.006479675813013669

Calculamos para random

In [ ]:
MAP = np.mean(map(merged_df_popular))
print(f'mean average precision = {round(MAP, 5)}')

In [ ]:
MAP_2 = calculate_map(merged_df_popular["recomms_df"], merged_df_popular["recomms_ideal"])
MAP_2

#### Metricas en test

In [217]:
def recommAll_test(no_recom):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in test.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom,2))
    return pd.DataFrame(recomms_dict)

In [218]:
pd.options.display.max_colwidth = None
df_test = recommAll_test(100)
df_test

,user_id,recomms
0,10,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
1,15,"[296, 356, 318, 593, 110, 480, 150, 589, 592, 380, 457, 590, 780, 527, 1, 344, 588, 377, 32, 260]"
2,18,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
3,21,"[296, 356, 318, 593, 110, 480, 150, 589, 592, 380, 457, 590, 780, 527, 1, 344, 588, 260, 32, 377]"
4,24,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
...,...,...
115,586,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
116,596,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
117,599,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
118,601,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"
119,610,"[31696, 1288, 6332, 1089, 1370, 1198, 1097, 4040, 4671, 6643, 1064, 5630, 2167, 586, 3052, 2712, 260, 276, 4322, 1272]"

In [219]:
interactions_test = test[["userId", "movieId", "rating"]].copy()
interactions_test.head()

      userId  movieId  rating
1119      10      296     1.0
1120      10      356     3.5
1121      10      588     4.0
1122      10      597     3.5
1123      10      912     4.0

In [220]:
ideal_recomms2 = interactions_test.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms2

,userId,movieId
0,10,"[7458, 8533, 8869, 33794, 49272, 49286, 71579, 79091, 81845, 91529, 92259, 96079, 136020, 140110, 4306, 4447, 7169, 31685, 51705, 58559, 63992, 69406, 94070, 106696, 113275, 588, 912, 1907, 3578, 4993, 4995, 5952, 6535, 6942, 7149, 7153, 7154, 7375, 40819, 68954, 88163, 95167, 95449, 103335, 103339, 104374, 109853, 112006, 113394, 137595, 356, 597, 1784, 2671, 4246, 5377, 6377, 7293, 7451, 8529, 8636, 8665, 8969, 30749, 54286, 56367, 58047, 63113, 66203, 72330, 72720, 72737, 80549, 81847, 82167, 84374, 87222, 95543, 106489, 129428, 1088, 1247, 1307, 3882, 5066, 5620, 5943, 5957, 6155, 6266, 7151, 8808, 33145, 33679, 40629, 47099, 51662, 56949, 60397, 69844, ...]"
1,15,"[260, 318, 356, 527, 589, 1196, 1200, 1210, 1214, 1270, 2011, 3147, 3156, 3578, 4720, 4995, 5989, 33493, 84152, 122886, 152077, 166528, 1653, 2329, 2916, 48304, 48780, 84954, 104841, 111759, 112556, 134853, 296, 858, 1198, 1240, 2012, 2571, 2858, 3499, 3949, 4370, 5445, 64614, 71057, 97938, 101864, 105504, 109487, 134130, 47, 780, 1265, 2028, 3535, 4022, 4886, 4993, 5952, 6502, 7254, 8644, 56174, 60069, 68954, 70286, 79132, 85414, 103249, 158872, 160980, 166635, 293, 364, 588, 1527, 2081, 2762, 3753, 3994, 4306, 5618, 6377, 6874, 7438, 48774, 50872, 63859, 68237, 72998, 91500, 94864, 96610, 143385, 152081, 1, 2959, 8360, 8961, 71264, ...]"
2,18,"[50, 318, 923, 1201, 1203, 1209, 1221, 16, 47, 110, 235, 293, 356, 527, 589, 593, 608, 778, 904, 1080, 1136, 1148, 1193, 1206, 1207, 1210, 1212, 1213, 1219, 1222, 1223, 1227, 1234, 1247, 1356, 1374, 1732, 2324, 2542, 2571, 2762, 2951, 2959, 3052, 3275, 3578, 3681, 3949, 4011, 4226, 4993, 4995, 5008, 5120, 5995, 6300, 6440, 6539, 6807, 7147, 7153, 7254, 7843, 27716, 27878, 33794, 44191, 44199, 44665, 48516, 48780, 51540, 52604, 55118, 55290, 55765, 64197, 67255, 68073, 71108, 71899, 73017, 73323, 74458, 74510, 76251, 79132, 81788, 84392, 109487, 112334, 112552, 112852, 115713, 116797, 134130, 142488, 157108, 157110, 177593, ...]"
3,21,"[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
4,24,"[6, 318, 356, 593, 1198, 1265, 3147, 5064, 6350, 27773, 50, 296, 608, 1197, 1246, 1396, 1527, 1580, 1704, 1784, 2028, 2115, 2424, 2571, 2686, 3578, 4027, 4262, 4489, 4855, 5418, 5673, 5791, 7143, 35836, 38061, 44191, 46976, 51662, 54286, 58559, 58998, 64957, 68358, 70286, 72011, 79132, 86882, 91529, 94777, 119145, 132660, 134130, 134853, 32, 165, 253, 316, 457, 552, 780, 1220, 1370, 1663, 1682, 2273, 2421, 2617, 2916, 4299, 4701, 4973, 4995, 7293, 31685, 33679, 34437, 49272, 52973, 57368, 59615, 61024, 91542, 96079, 102407, 111759, 122886, 733, 1297, 1639, 1653, 2134, 5445, 5903, 8784, 31696, 45672, 47610, 61132, 63113, ...]"
...,...,...
115,586,"[110, 318, 589, 1198, 1200, 1374, 1580, 1704, 2011, 2353, 2490, 2571, 3175, 3578, 3753, 3793, 4886, 4993, 5952, 6333, 6539, 7153, 8368, 8665, 33615, 45431, 45499, 45517, 47610, 50872, 59315, 59369, 59784, 60069, 62999, 63859, 68954, 76093, 77561, 79091, 86298, 86880, 87222, 93272, 95167, 96861, 98243, 101142, 103141, 106489, 106696, 110102, 112852, 117851, 118696, 120635, 122886, 122896, 122906, 122918, 122920, 122922, 122926, 134853, 135133, 136556, 149406, 152081, 160438, 166461, 168252, 168418, 179819, 187595, 161, 260, 380, 457, 553, 588, 1073, 1196, 1210, 1265, 1270, 1376, 1610, 3114, 5459, 27619, 33493, 41566, 42738, 52287, 54001, 54286, 54648, 58559, 65682, 78499, ...]"
116,596,"[2288, 3000, 4878, 5971, 31658, 33649, 57669, 110102, 122882, 122906, 122916, 166528, 167746, 168252, 904, 1192, 1356, 1688, 1748, 4226, 4342, 4720, 5444, 5618, 6350, 7615, 8874, 38061, 51255, 60069, 70286, 76093, 107406, 111913, 122886, 134853, 135569, 138036, 143355, 171917, 1, 34, 39, 260, 364, 527, 541, 581, 593, 595, 616, 919, 924, 1028, 1035, 1036, 1046, 1097, 1136, 1210, 1214, 1270, 1374, 1375, 1376, 1704, 1907, 2081, 2393, 2407, 2571, 2687, 2692, 2762, 2959, 3052, 3094, 3213, 3275, 3535, 3786, 3793, 3967, 3996, 4306, 4366, 4973, 4993, 5903, 6333, 6377, 6502, 6934, 8961, 27246, 27611, 33794, 34405, 37729, 39183, ...]"
117,599,"[112, 260, 293, 296, 741, 750, 924, 951, 1089, 1178, 1196, 1200, 1208, 1210, 1214, 1274, 1283, 1732, 1967, 2395, 2427, 2571, 2858, 2959, 3030, 3160, 3435, 3703, 3949, 4973, 6711, 6874, 6, 215, 541, 589, 720, 1080, 1129, 1136, 1148, 1206, 1215, 1223, 1249, 1377, 1704, 1945, 2692, 2716, 3087, 3334, 3379, 3468, 3503, 3741, 4226, 4467, 4848, 5669, 6440, 7387, 7748, 27156, 68945, 80463, 96004, 170355, 21, 47, 318, 329, 431, 480, 745, 858, 861, 912, 923, 928, 930, 1036, 1050, 1095, 1097, 1183, 1204, 1213, 1221, 1225, 1230, 1232, 1236, 1237, 1242, 1244, 1246, 1265, 1282, 1291, ...]"
118,601,"[904, 1197, 1203, 2324, 5618, 31658, 48516, 50872, 59315, 60069, 68954, 76093, 134853, 166024, 170705, 908, 953, 1704, 2355, 2762, 3578, 5971, 33794, 48780, 67255, 70286, 74458, 80463, 81834, 88810, 89745, 91529, 106782, 115617, 152081, 172591, 177765, 1, 47, 912, 1136, 1193, 1198, 1207, 1527, 1721, 1917, 3000, 4306, 6016, 44191, 48394, 49272, 54286, 63082, 68157, 72378, 72998, 74946, 78499, 80549, 81845, 95167, 99114, 112852, 122918, 168326, 170697, 174055, 176371, 1584, 3114, 46578, 122916]"
119,610,"[1, 6, 47, 111, 194, 215, 260, 293, 296, 377, 380, 407, 441, 480, 541, 589, 778, 784, 858, 903, 904, 1036, 1089, 1136, 1196, 1198, 1200, 1201, 1208, 1209, 1210, 1213, 1218, 1221, 1228, 1240, 1241, 1245, 1247, 1258, 1261, 1270, 1273, 1274, 1279, 1394, 1676, 1682, 1884, 1923, 1953, 1967, 2000, 2028, 2076, 2288, 2571, 2716, 2916, 2924, 2959, 2968, 2985, 3114, 3246, 3265, 3328, 3362, 3424, 3468, 3527, 3578, 3671, 3681, 3897, 3925, 3972, 3996, 4105, 4226, 4437, 4794, 4848, 4878, 4993, 5139, 5673, 5772, 5833, 5909, 5952, 5954, 6016, 6502, 6711, 7022, 7153, 7361, 7387, 8142, ...]"

In [221]:
merged_df_test = pd.merge(df, ideal_recomms2, left_on='user_id', right_on='userId', how='inner')
merged_df_test = merged_df_test.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_test = merged_df_test.drop(columns=['userId'])

merged_df_test.head()

,user_id,recomms_df,recomms_ideal
0,21,"[296, 356, 318, 593, 110, 480, 150, 589, 592, 380, 457, 590, 780, 527, 1, 344, 588, 260, 32, 377]","[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
1,103,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[1206, 1222, 2997, 3160, 64614, 81932, 148626, 48516, 56782, 86882, 923, 1945, 4677, 6873, 61323, 69140, 96728, 116799, 367, 2018, 2421, 4254, 7367, 50912, 106766, 168250, 122886]"
2,105,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[2131, 4788, 5889, 37731, 57183, 80124, 104780, 116897, 120138, 120478, 129514, 130970, 134095, 136445, 136447, 138835, 140265, 141816, 142020, 143511, 145994, 147196, 147250, 147286, 147300, 147326, 147328, 147330, 150548, 151769, 159811, 159817, 163072, 163112, 163386, 163925, 165959, 166183, 170597, 170705, 170777, 171011, 171749, 172577, 172583, 172585, 172587, 172589, 172637, 172793, 172909, 173351, 173355, 173619, 173963, 174551, 175293, 175387, 175397, 175431, 179133, 56060, 86345, 86347, 92535, 98604, 104069, 107408, 120625, 127098, 133712, 133716, 134326, 140038, 141818, 141830, 152081, 163134, 163645, 172825, 173535, 175435, 935, 75341, 101088, 118888, 118896, 122904, 141810, 141820, 147282, 152591, 170411, 175401, 178613, 8533, 54997, 158402]"
3,112,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[91529, 6, 16, 253, 508, 68157, 79132, 19, 62, 104, 141, 288, 292, 454, 1356, 1393, 3717, 68954, 72998, 99114, 551, 778, 70286, 25, 208, 329, 21, 185, 2, 95, 161, 223, 339, 788, 17, 36, 39, 300, 357, 434]"
4,119,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[67255, 103984, 136598, 138210, 148626, 318, 7458, 56174, 89087, 112552, 122904, 131023, 135532, 141004, 142488, 157699, 162350, 165551, 168252, 48774, 50872, 108689, 110718, 110730, 114795, 117533, 129354, 134853, 139385, 139642, 166461, 7454, 8464, 8622, 51077, 64839, 136562, 140711]"

In [222]:
aps = []

for pred, label in merged_df_test[["recomms_ideal","recomms_df"]].values:
  n = len(pred)
  arange = np.arange(n, dtype=np.int32) + 1.
  rel_k = np.in1d(pred[:n], label)
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
  denom = arange[rel_k]
  ap = (tp / denom).sum() / len(label)
  aps.append(ap)

In [223]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.02005

In [224]:
MAP_2 = calculate_map(merged_df["recomms_df"], merged_df["recomms_ideal"])
MAP_2

0.006479675813013669