# 3er Entregable

Integrantes:
- Araoz, Tania
- Bajo, Pablo
- Barrera, Manuel

### Carga de librerias a utilizar

In [386]:
import pandas as pd
from datetime import datetime
from scipy.sparse import csr_matrix
from lightfm import LightFM
import numpy as np

### Carga de datasets

In [387]:
movies = pd.read_csv("../data/ml-latest/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [388]:
ratings = pd.read_csv("../data/ml-latest/ratings.csv")
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

> Se usa el dataset de ratings para trabajar, tiene las interacciones entre usuarios y películas

In [389]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

> El dataset contiene 100836 interacciones. <span style="color:red">ACTUALIZAR CON DATASET GRANDE</span>

> El timestamp está en formato int64, se debe convertir a formato fecha para poder trabajar.

In [390]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

> No hay valores nulos

In [391]:
ratings['userId'].nunique()

610

> El dataset tiene 610 ususarios. <span style="color:red">Cambiar con dataset grande</span>

In [392]:
ratings['movieId'].nunique()

9724

> el dataset contiene ratings de 9724 peliculas. <span style="color:red">Actualizar con dataset grande</span>

In [393]:
ratings['rating'].sort_values(ascending=True).unique()

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

> Los valores posibles de ratings van del 0.5 al 5, con un incremento de 0.5.

#### Preprocesado

Convertimos el timestamp numerico en formato fecha

In [394]:
ratings["timestamp"] = ratings["timestamp"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y/%m/%d'))

In [395]:
ratings["timestamp"]

0         2000/07/30
1         2000/07/30
2         2000/07/30
3         2000/07/30
4         2000/07/30
             ...
100831    2017/05/03
100832    2017/05/03
100833    2017/05/08
100834    2017/05/03
100835    2017/05/03
Name: timestamp, Length: 100836, dtype: object

> Vemos que la fecha tiene un formato de fecha, pero la columna es de tipo object

Utilizando pandas convertimos a un formato de fechas que permita el filtrado

In [396]:
ratings["timestamp"] = pd.to_datetime(ratings['timestamp'], format='%Y/%m/%d')

In [397]:
ratings["timestamp"]

0        2000-07-30
1        2000-07-30
2        2000-07-30
3        2000-07-30
4        2000-07-30
            ...
100831   2017-05-03
100832   2017-05-03
100833   2017-05-08
100834   2017-05-03
100835   2017-05-03
Name: timestamp, Length: 100836, dtype: datetime64[ns]

> Vemos que la columna tiene el formato datetime64

In [398]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0 2000-07-30
1       1        3     4.0 2000-07-30
2       1        6     4.0 2000-07-30
3       1       47     5.0 2000-07-30
4       1       50     5.0 2000-07-30

Vemos el rango de fechas del dataset

In [399]:
ratings.timestamp.min()

Timestamp('1996-03-29 00:00:00')

In [400]:
ratings.timestamp.max()

Timestamp('2018-09-24 00:00:00')

> Vemos que el rango de fechas va desde el 29/03/1996 al 24/09/24

#### Dividimos dataset en train, test y validation
Vemos la catidad de ratings por año

In [401]:
plot_df = ratings.copy()
plot_df["year"] = ratings.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996           6040
1   1997           1916
2   1998            507
3   1999           2439
4   2000          10061
5   2001           3922
6   2002           3478
7   2003           4014
8   2004           3279
9   2005           5813
10  2006           4059
11  2007           7114
12  2008           4351
13  2009           4158
14  2010           2301
15  2011           1690
16  2012           4656
17  2013           1664
18  2014           1439
19  2015           6616
20  2016           6703
21  2017           8198
22  2018           6418

> Tomamos una proporción 80/20 para dividir el dataset en train - test

In [402]:
train = ratings[(ratings.timestamp < datetime(year=2016, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0       1        1     4.0 2000-07-30
1       1        3     4.0 2000-07-30
2       1        6     4.0 2000-07-30
3       1       47     5.0 2000-07-30
4       1       50     5.0 2000-07-30

In [403]:
train.shape

(79517, 4)

In [404]:
train.userId.nunique()

514

In [405]:
train.movieId.nunique()

7789

In [406]:
test = ratings[ratings.timestamp >= datetime(year=2016, month=1, day=1)]
test.head()

      userId  movieId  rating  timestamp
1119      10      296     1.0 2016-02-12
1120      10      356     3.5 2016-02-12
1121      10      588     4.0 2016-02-12
1122      10      597     3.5 2016-02-13
1123      10      912     4.0 2016-02-12

In [407]:
test.shape

(21319, 4)

In [408]:
test.userId.nunique()

120

In [409]:
test.movieId.nunique()

5714

In [410]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996           6040
1   1997           1916
2   1998            507
3   1999           2439
4   2000          10061
5   2001           3922
6   2002           3478
7   2003           4014
8   2004           3279
9   2005           5813
10  2006           4059
11  2007           7114
12  2008           4351
13  2009           4158
14  2010           2301
15  2011           1690
16  2012           4656
17  2013           1664
18  2014           1439
19  2015           6616

In [411]:
train.shape

(79517, 4)

> Definimos el conjunto de validación, en función de nuestro conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [412]:
validation = train[train.timestamp >= datetime(year=2014, month=1, day=1)]
validation.head()

     userId  movieId  rating  timestamp
232       2      318     3.0 2015-10-24
233       2      333     4.0 2015-10-24
234       2     1704     4.5 2015-10-24
235       2     3578     4.0 2015-10-24
236       2     6874     4.0 2015-10-24

In [413]:
validation.shape

(8055, 4)

In [414]:
validation.userId.nunique()

69

In [415]:
validation.movieId.nunique()

2732

In [416]:
plot_df = validation.copy()
plot_df["year"] = validation.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

   year  reviews_count
0  2014           1439
1  2015           6616

> Redefinimos el conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [417]:
train = train[(train.timestamp < datetime(year=2014, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0       1        1     4.0 2000-07-30
1       1        3     4.0 2000-07-30
2       1        6     4.0 2000-07-30
3       1       47     5.0 2000-07-30
4       1       50     5.0 2000-07-30

In [418]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1996           6040
1   1997           1916
2   1998            507
3   1999           2439
4   2000          10061
5   2001           3922
6   2002           3478
7   2003           4014
8   2004           3279
9   2005           5813
10  2006           4059
11  2007           7114
12  2008           4351
13  2009           4158
14  2010           2301
15  2011           1690
16  2012           4656
17  2013           1664

In [419]:
train.shape

(71462, 4)

¿Tenemos COLDSTAR?

In [420]:
test[~test.userId.isin(train.userId.unique())].userId.nunique()

109

> Tenemos ### Usuarios que se encuentra en el dataset de test y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

In [421]:
validation[~validation.userId.isin(train.userId.unique())].userId.nunique()

55

> Tenemos ### Usuarios que se encuentra en el dataset de validation y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

#### Matriz de Interacciones

In [422]:
interactions_train = train[["userId", "movieId", "rating"]].copy()
interactions_train.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [423]:
interactions_matrix = interactions_train.pivot(index="userId", columns="movieId", values="rating")

In [424]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,104241,104245,104339,104841,104879,105037,105213,105504,105755,107348
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,4.0,5.0,3.0,5.0,4.0,4.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [425]:
interactions_matrix = interactions_matrix.fillna(0)

In [426]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,104241,104245,104339,104841,104879,105037,105213,105504,105755,107348
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,4.0,5.0,3.0,5.0,4.0,4.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [427]:
interactions_matrix.shape

(459, 7122)

In [428]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [429]:
interactions_matrix_csr

<459x7122 sparse matrix of type '<class 'numpy.float64'>'
	with 71462 stored elements in Compressed Sparse Row format>

In [430]:
user_ids = list(interactions_matrix.index)
user_map = {}
counter = 0
for i in user_ids:
    user_map[i] = counter
    counter += 1

In [431]:
user_map

{1: 0,
 3: 1,
 4: 2,
 5: 3,
 6: 4,
 7: 5,
 8: 6,
 9: 7,
 11: 8,
 12: 9,
 13: 10,
 14: 11,
 15: 12,
 16: 13,
 17: 14,
 19: 15,
 20: 16,
 21: 17,
 22: 18,
 23: 19,
 26: 20,
 27: 21,
 28: 22,
 29: 23,
 31: 24,
 32: 25,
 33: 26,
 34: 27,
 35: 28,
 36: 29,
 37: 30,
 38: 31,
 39: 32,
 40: 33,
 42: 34,
 43: 35,
 44: 36,
 45: 37,
 46: 38,
 48: 39,
 51: 40,
 53: 41,
 54: 42,
 55: 43,
 56: 44,
 57: 45,
 58: 46,
 59: 47,
 61: 48,
 64: 49,
 66: 50,
 68: 51,
 69: 52,
 70: 53,
 71: 54,
 72: 55,
 74: 56,
 75: 57,
 78: 58,
 79: 59,
 80: 60,
 81: 61,
 82: 62,
 83: 63,
 84: 64,
 85: 65,
 86: 66,
 87: 67,
 88: 68,
 90: 69,
 91: 70,
 92: 71,
 93: 72,
 94: 73,
 95: 74,
 96: 75,
 97: 76,
 99: 77,
 100: 78,
 101: 79,
 102: 80,
 104: 81,
 107: 82,
 108: 83,
 109: 84,
 110: 85,
 113: 86,
 115: 87,
 116: 88,
 117: 89,
 118: 90,
 120: 91,
 121: 92,
 124: 93,
 126: 94,
 127: 95,
 128: 96,
 129: 97,
 130: 98,
 131: 99,
 132: 100,
 133: 101,
 134: 102,
 135: 103,
 136: 104,
 137: 105,
 138: 106,
 140: 107,
 142: 108,
 144: 109,
 145: 110,
 146: 111,
 147: 112,
 149: 113,
 150: 114,
 151: 115,
 155: 116,
 156: 117,
 157: 118,
 158: 119,
 160: 120,
 161: 121,
 162: 122,
 163: 123,
 164: 124,
 165: 125,
 166: 126,
 167: 127,
 168: 128,
 169: 129,
 170: 130,
 171: 131,
 172: 132,
 173: 133,
 174: 134,
 175: 135,
 176: 136,
 178: 137,
 179: 138,
 180: 139,
 181: 140,
 182: 141,
 183: 142,
 185: 143,
 186: 144,
 187: 145,
 188: 146,
 191: 147,
 192: 148,
 194: 149,
 195: 150,
 197: 151,
 198: 152,
 199: 153,
 200: 154,
 201: 155,
 202: 156,
 204: 157,
 206: 158,
 207: 159,
 208: 160,
 211: 161,
 213: 162,
 214: 163,
 215: 164,
 216: 165,
 217: 166,
 218: 167,
 219: 168,
 220: 169,
 221: 170,
 223: 171,
 224: 172,
 225: 173,
 226: 174,
 228: 175,
 229: 176,
 230: 177,
 232: 178,
 234: 179,
 235: 180,
 236: 181,
 238: 182,
 239: 183,
 240: 184,
 242: 185,
 243: 186,
 244: 187,
 245: 188,
 246: 189,
 249: 190,
 250: 191,
 253: 192,
 254: 193,
 255: 194,
 257: 195,
 259: 196,
 260: 197,
 262: 198,
 263: 199,
 264: 200,
 265: 201,
 266: 202,
 267: 203,
 268: 204,
 269: 205,
 270: 206,
 271: 207,
 273: 208,
 274: 209,
 275: 210,
 276: 211,
 277: 212,
 278: 213,
 280: 214,
 281: 215,
 282: 216,
 283: 217,
 284: 218,
 286: 219,
 287: 220,
 288: 221,
 289: 222,
 290: 223,
 292: 224,
 293: 225,
 294: 226,
 295: 227,
 297: 228,
 299: 229,
 301: 230,
 302: 231,
 303: 232,
 304: 233,
 307: 234,
 309: 235,
 310: 236,
 311: 237,
 312: 238,
 313: 239,
 314: 240,
 315: 241,
 316: 242,
 318: 243,
 320: 244,
 321: 245,
 322: 246,
 324: 247,
 325: 248,
 326: 249,
 327: 250,
 330: 251,
 332: 252,
 333: 253,
 334: 254,
 335: 255,
 336: 256,
 337: 257,
 340: 258,
 342: 259,
 343: 260,
 345: 261,
 346: 262,
 347: 263,
 348: 264,
 349: 265,
 350: 266,
 351: 267,
 353: 268,
 354: 269,
 355: 270,
 356: 271,
 357: 272,
 358: 273,
 359: 274,
 360: 275,
 361: 276,
 364: 277,
 367: 278,
 368: 279,
 369: 280,
 370: 281,
 372: 282,
 373: 283,
 374: 284,
 375: 285,
 376: 286,
 377: 287,
 379: 288,
 381: 289,
 383: 290,
 384: 291,
 385: 292,
 386: 293,
 387: 294,
 388: 295,
 389: 296,
 390: 297,
 391: 298,
 392: 299,
 394: 300,
 395: 301,
 396: 302,
 397: 303,
 398: 304,
 399: 305,
 402: 306,
 403: 307,
 404: 308,
 405: 309,
 406: 310,
 409: 311,
 410: 312,
 411: 313,
 412: 314,
 414: 315,
 415: 316,
 416: 317,
 419: 318,
 420: 319,
 421: 320,
 422: 321,
 423: 322,
 425: 323,
 427: 324,
 428: 325,
 429: 326,
 430: 327,
 431: 328,
 432: 329,
 434: 330,
 435: 331,
 436: 332,
 437: 333,
 438: 334,
 440: 335,
 442: 336,
 444: 337,
 446: 338,
 447: 339,
 448: 340,
 449: 341,
 450: 342,
 451: 343,
 452: 344,
 453: 345,
 454: 346,
 455: 347,
 456: 348,
 457: 349,
 458: 350,
 460: 351,
 462: 352,
 463: 353,
 464: 354,
 465: 355,
 467: 356,
 468: 357,
 469: 358,
 470: 359,
 472: 360,
 473: 361,
 474: 362,
 476: 363,
 477: 364,
 478: 365,
 479: 366,
 480: 367,
 481: 368,
 482: 369,
 483: 370,
 484: 371,
 485: 372,
 486: 373,
 488: 374,
 489: 375,
 490: 376,
 492: 377,
 493: 378,
 494: 379,
 498: 380,
 499: 381,
 500: 382,
 501: 383,
 502: 384,
 503: 385,
 504: 386,
 505: 387,
 507: 388,
 508: 389,
 510: 390,
 512: 391,
 513: 392,
 516: 393,
 518: 394,
 520: 395,
 521: 396,
 522: 397,
 524: 398,
 527: 399,
 529: 400,
 530: 401,
 531: 402,
 532: 403,
 535: 404,
 536: 405,
 538: 406,
 539: 407,
 540: 408,
 541: 409,
 542: 410,
 543: 411,
 544: 412,
 545: 413,
 546: 414,
 547: 415,
 552: 416,
 553: 417,
 554: 418,
 555: 419,
 558: 420,
 559: 421,
 562: 422,
 565: 423,
 566: 424,
 568: 425,
 569: 426,
 570: 427,
 571: 428,
 572: 429,
 573: 430,
 574: 431,
 575: 432,
 576: 433,
 577: 434,
 578: 435,
 579: 436,
 580: 437,
 584: 438,
 585: 439,
 587: 440,
 588: 441,
 589: 442,
 590: 443,
 591: 444,
 592: 445,
 593: 446,
 594: 447,
 595: 448,
 597: 449,
 600: 450,
 602: 451,
 603: 452,
 604: 453,
 605: 454,
 606: 455,
 607: 456,
 608: 457,
 609: 458}

#### Modelo

In [432]:
model = LightFM(no_components=50, random_state=100, learning_rate=0.03, loss='logistic')

In [433]:
%%time
model = model.fit(interactions_matrix_csr, epochs=100,num_threads=6)

CPU times: total: 26.1 s
Wall time: 45.9 s

In [434]:
model

#### Metodos auxiliares
Metodo para obtener las recomendaciones en caso de ColdStart

In [435]:
def getColdStarRecomm(dataset, no_recom): 
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones mas populares 
    '''
    recomm = dataset.groupby("movieId", as_index=False).agg({"userId":"nunique"}).sort_values(by="userId", ascending=False)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

Metodo para obtener los scores a partir del modelo

In [436]:
def predict(user):
    '''
    Esta funcion recibe un usuario y retorna lista de scores
    '''
    user_predic = user_map[user]
    n_users, n_items = interactions_matrix.shape
    item_ids = np.arange(n_items)
    return model.predict(user_ids=user_predic, item_ids = item_ids)

Metodo para obtener las recomendaciones ordenadas

In [437]:
def getOrderedMoviesId(preds, no_recom):
    '''
    Esta funcion recibe los scores predecidos y retorna lista ordenada de moviesId
    '''
    recomm = pd.Series(preds)
    recomm.index = interactions_matrix.columns
    return list(pd.Series(recomm.sort_values(ascending=False).index))[:no_recom]

Metodo para eliminar de las recomendaciones las peliculas ya vistas

In [438]:
def getNotWatchedMovieId(user, recomm):
    '''
    Esta funcion recibe las recomendaciones y retorna lista de recomendaciones sin las peliculas vistas por el usuario
    '''
    watched = train[train.userId == user].movieId.unique()
    return [x for x in recomm if x not in watched][:20]

In [439]:
def recomm(user, no_recom):
    result = None
    if user in list(interactions_matrix.index):
        score = predict(user)
        recomm = getOrderedMoviesId(score, no_recom)
        result = getNotWatchedMovieId(user, recomm)
    else:
        result = getColdStarRecomm(train, 20)
    return result

#### Recomendaciones
Generamos metricas para todos los ususarios de validation

In [440]:
def recommAll_Validation(no_recom):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in validation.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom))
    return pd.DataFrame(recomms_dict)

In [441]:
pd.options.display.max_colwidth = None
df = recommAll_Validation(100)
df

,user_id,recomms
0,2,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
1,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]"
2,29,"[110, 593, 480, 592, 590, 380, 457, 589, 344, 588, 153, 1, 527, 32, 47, 377, 349, 260, 231, 595]"
3,60,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
4,63,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
...,...,...
64,573,"[590, 344, 527, 32, 349, 161, 434, 292, 208, 454, 329, 253, 608, 858, 34, 339, 597, 300, 587, 539]"
65,581,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
66,582,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
67,598,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
68,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"

In [442]:
df.columns

Index(['user_id', 'recomms'], dtype='object')

> Como de los ## usuarios del dataset validation, ## son usuarios nuevos, les asigna las recomendaciones coldstart <span style="color:red">Actualizar con dataset grande</span>

In [443]:
df.user_id.nunique()

69

#### Comparación

> Primero generamos la recomendaciones ideales del conjunto de validación.

In [444]:
interactions_validation = validation[["userId", "movieId", "rating"]].copy()
interactions_validation.head()

     userId  movieId  rating
232       2      318     3.0
233       2      333     4.0
234       2     1704     4.5
235       2     3578     4.0
236       2     6874     4.0

In [445]:
interactions_validation.columns

Index(['userId', 'movieId', 'rating'], dtype='object')

In [446]:
ideal_recomms = interactions_validation.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms

,userId,movieId
0,2,"[60756, 80906, 89774, 106782, 122882, 131724, 1704, 58559, 68157, 80489, 333, 3578, 6874, 46970, 48516, 74458, 79132, 86345, 112552, 8798, 91529, 99114, 115713, 318, 71535, 77455, 109487, 91658, 114060]"
1,21,"[10, 1270, 2011, 2012, 7573, 260, 356, 648, 1196, 1210, 1544, 1580, 2947, 2948, 2949, 2989, 2990, 2991, 2993, 3633, 3635, 3638, 3639, 3984, 4489, 4963, 5445, 7569, 7570, 8529, 8984, 33004, 33493, 53121, 53322, 58998, 68954, 78637, 101864, 111759, 111781, 135887, 364, 480, 588, 597, 743, 1198, 1291, 2115, 2424, 2529, 2571, 2628, 2671, 2763, 2916, 3022, 3253, 3868, 3869, 4005, 4306, 4545, 4896, 5218, 5378, 5418, 5574, 5816, 6539, 6934, 6942, 7143, 8360, 8368, 8644, 8665, 8798, 8972, 33615, 40815, 47566, 49272, 53125, 54286, 59315, 59615, 69644, 69844, 72998, 77561, 78499, 79185, 82202, 85259, 88125, 89745, 91630, 94677, ...]"
2,29,"[1408, 5464, 6502, 111362, 4223, 5010, 104841, 111759]"
3,60,"[527, 858, 58559, 318, 362, 783, 805, 1242, 2150, 2739, 3386, 3424, 6016, 48, 50, 60, 455, 832, 1203, 1562, 2067, 2724]"
4,63,"[1, 50, 260, 296, 318, 344, 745, 1080, 1136, 1148, 1196, 1198, 1208, 1220, 1223, 1270, 1288, 2078, 2716, 2788, 2858, 2959, 3949, 5669, 6104, 7361, 8874, 32587, 33779, 38038, 48774, 51255, 57669, 58559, 77455, 77800, 79702, 86290, 89753, 89904, 91529, 92494, 92535, 97913, 98491, 102217, 106696, 108932, 111781, 115617, 134853, 608, 1210, 1965, 2542, 2692, 6016, 6350, 7980, 48516, 64285, 81845, 96610, 102445, 47, 165, 357, 364, 367, 527, 588, 589, 592, 648, 778, 858, 912, 913, 953, 1036, 1084, 1193, 1201, 1202, 1203, 1213, 1221, 1262, 1282, 1291, 1617, 1968, 2115, 2329, 2791, 3088, 3435, 3481, 3535, 3751, ...]"
...,...,...
64,573,"[858, 109487, 111362, 112852]"
65,581,"[318, 527, 3147, 4896, 5816, 5995, 7361, 356, 2324, 2762, 2959, 3949, 4022, 4226, 4306, 4886, 4993, 4995, 5349, 5952, 6377, 7153, 8368, 44191, 79132, 81845, 92259, 109487, 112552, 1704, 59315, 60069, 68954, 116797, 134130, 2571, 4973, 5989, 7147, 48394]"
66,582,"[2571, 79091, 79132, 81834, 88125, 89745, 92259, 49272, 58559, 69844, 76093, 91529, 96079, 99114, 102125, 104841, 109487, 260, 1196, 48516, 54001, 60069, 68157, 74458, 81229, 81564, 87232, 91500, 91630, 94864, 109374, 134130, 4993, 5618, 44191, 48780, 68954, 73321, 115617, 84954, 97752, 97913, 76251, 77561, 85414, 96610]"
67,598,"[5816, 7361, 46578, 54001, 56367, 79132, 101577, 103543, 113829, 114265, 124851, 130490, 4963, 5418, 63082, 1197, 110771, 4226, 4306, 8360, 593]"
68,601,"[50, 318, 527, 858, 2028, 2571, 2959, 4226, 4886, 4993, 5952, 6377, 7153, 8961, 79132, 109487, 1221, 1262, 2019, 4963, 5989, 7361, 4995, 5445, 112556, 116797, 141846]"

In [447]:
ideal_recomms.columns

Index(['userId', 'movieId'], dtype='object')

> Proximo paso sería hacer un nuevo dataframe, en donde combinariamos lo recomendado con la lista ideal para poder hacer la comparación.

In [448]:
merged_df = pd.merge(df, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df = merged_df.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df = merged_df.drop(columns=['userId'])

merged_df

,user_id,recomms_df,recomms_ideal
0,2,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[60756, 80906, 89774, 106782, 122882, 131724, 1704, 58559, 68157, 80489, 333, 3578, 6874, 46970, 48516, 74458, 79132, 86345, 112552, 8798, 91529, 99114, 115713, 318, 71535, 77455, 109487, 91658, 114060]"
1,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]","[10, 1270, 2011, 2012, 7573, 260, 356, 648, 1196, 1210, 1544, 1580, 2947, 2948, 2949, 2989, 2990, 2991, 2993, 3633, 3635, 3638, 3639, 3984, 4489, 4963, 5445, 7569, 7570, 8529, 8984, 33004, 33493, 53121, 53322, 58998, 68954, 78637, 101864, 111759, 111781, 135887, 364, 480, 588, 597, 743, 1198, 1291, 2115, 2424, 2529, 2571, 2628, 2671, 2763, 2916, 3022, 3253, 3868, 3869, 4005, 4306, 4545, 4896, 5218, 5378, 5418, 5574, 5816, 6539, 6934, 6942, 7143, 8360, 8368, 8644, 8665, 8798, 8972, 33615, 40815, 47566, 49272, 53125, 54286, 59315, 59615, 69644, 69844, 72998, 77561, 78499, 79185, 82202, 85259, 88125, 89745, 91630, 94677, ...]"
2,29,"[110, 593, 480, 592, 590, 380, 457, 589, 344, 588, 153, 1, 527, 32, 47, 377, 349, 260, 231, 595]","[1408, 5464, 6502, 111362, 4223, 5010, 104841, 111759]"
3,60,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[527, 858, 58559, 318, 362, 783, 805, 1242, 2150, 2739, 3386, 3424, 6016, 48, 50, 60, 455, 832, 1203, 1562, 2067, 2724]"
4,63,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[1, 50, 260, 296, 318, 344, 745, 1080, 1136, 1148, 1196, 1198, 1208, 1220, 1223, 1270, 1288, 2078, 2716, 2788, 2858, 2959, 3949, 5669, 6104, 7361, 8874, 32587, 33779, 38038, 48774, 51255, 57669, 58559, 77455, 77800, 79702, 86290, 89753, 89904, 91529, 92494, 92535, 97913, 98491, 102217, 106696, 108932, 111781, 115617, 134853, 608, 1210, 1965, 2542, 2692, 6016, 6350, 7980, 48516, 64285, 81845, 96610, 102445, 47, 165, 357, 364, 367, 527, 588, 589, 592, 648, 778, 858, 912, 913, 953, 1036, 1084, 1193, 1201, 1202, 1203, 1213, 1221, 1262, 1282, 1291, 1617, 1968, 2115, 2329, 2791, 3088, 3435, 3481, 3535, 3751, ...]"
...,...,...,...
64,573,"[590, 344, 527, 32, 349, 161, 434, 292, 208, 454, 329, 253, 608, 858, 34, 339, 597, 300, 587, 539]","[858, 109487, 111362, 112852]"
65,581,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[318, 527, 3147, 4896, 5816, 5995, 7361, 356, 2324, 2762, 2959, 3949, 4022, 4226, 4306, 4886, 4993, 4995, 5349, 5952, 6377, 7153, 8368, 44191, 79132, 81845, 92259, 109487, 112552, 1704, 59315, 60069, 68954, 116797, 134130, 2571, 4973, 5989, 7147, 48394]"
66,582,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[2571, 79091, 79132, 81834, 88125, 89745, 92259, 49272, 58559, 69844, 76093, 91529, 96079, 99114, 102125, 104841, 109487, 260, 1196, 48516, 54001, 60069, 68157, 74458, 81229, 81564, 87232, 91500, 91630, 94864, 109374, 134130, 4993, 5618, 44191, 48780, 68954, 73321, 115617, 84954, 97752, 97913, 76251, 77561, 85414, 96610]"
67,598,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[5816, 7361, 46578, 54001, 56367, 79132, 101577, 103543, 113829, 114265, 124851, 130490, 4963, 5418, 63082, 1197, 110771, 4226, 4306, 8360, 593]"
68,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[50, 318, 527, 858, 2028, 2571, 2959, 4226, 4886, 4993, 5952, 6377, 7153, 8961, 79132, 109487, 1221, 1262, 2019, 4963, 5989, 7361, 4995, 5445, 112556, 116797, 141846]"

In [449]:
aps = []

for pred, label in merged_df[["recomms_ideal", "recomms_df"]].values:
  n = len(pred)
  arange = np.arange(n, dtype=np.int32) + 1.
  rel_k = np.in1d(pred[:n], label)
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
  denom = arange[rel_k]
  ap = (tp / denom).sum() / len(label)
  aps.append(ap)

In [450]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.08557

#### Metricas en test

In [451]:
def recommAll_test(no_recom):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in test.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom))
    return pd.DataFrame(recomms_dict)

In [452]:
pd.options.display.max_colwidth = None
df_test = recommAll_test(100)
df_test

,user_id,recomms
0,10,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
1,15,"[296, 356, 318, 110, 593, 480, 150, 592, 380, 590, 589, 457, 344, 780, 588, 1, 153, 527, 32, 47]"
2,18,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
3,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]"
4,24,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
...,...,...
115,586,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
116,596,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
117,599,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
118,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
119,610,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"

In [453]:
interactions_test = test[["userId", "movieId", "rating"]].copy()
interactions_test.head()

      userId  movieId  rating
1119      10      296     1.0
1120      10      356     3.5
1121      10      588     4.0
1122      10      597     3.5
1123      10      912     4.0

In [454]:
ideal_recomms2 = interactions_test.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms2

,userId,movieId
0,10,"[7458, 8533, 8869, 33794, 49272, 49286, 71579, 79091, 81845, 91529, 92259, 96079, 136020, 140110, 4306, 4447, 7169, 31685, 51705, 58559, 63992, 69406, 94070, 106696, 113275, 588, 912, 1907, 3578, 4993, 4995, 5952, 6535, 6942, 7149, 7153, 7154, 7375, 40819, 68954, 88163, 95167, 95449, 103335, 103339, 104374, 109853, 112006, 113394, 137595, 356, 597, 1784, 2671, 4246, 5377, 6377, 7293, 7451, 8529, 8636, 8665, 8969, 30749, 54286, 56367, 58047, 63113, 66203, 72330, 72720, 72737, 80549, 81847, 82167, 84374, 87222, 95543, 106489, 129428, 1088, 1247, 1307, 3882, 5066, 5620, 5943, 5957, 6155, 6266, 7151, 8808, 33145, 33679, 40629, 47099, 51662, 56949, 60397, 69844, ...]"
1,15,"[260, 318, 356, 527, 589, 1196, 1200, 1210, 1214, 1270, 2011, 3147, 3156, 3578, 4720, 4995, 5989, 33493, 84152, 122886, 152077, 166528, 1653, 2329, 2916, 48304, 48780, 84954, 104841, 111759, 112556, 134853, 296, 858, 1198, 1240, 2012, 2571, 2858, 3499, 3949, 4370, 5445, 64614, 71057, 97938, 101864, 105504, 109487, 134130, 47, 780, 1265, 2028, 3535, 4022, 4886, 4993, 5952, 6502, 7254, 8644, 56174, 60069, 68954, 70286, 79132, 85414, 103249, 158872, 160980, 166635, 293, 364, 588, 1527, 2081, 2762, 3753, 3994, 4306, 5618, 6377, 6874, 7438, 48774, 50872, 63859, 68237, 72998, 91500, 94864, 96610, 143385, 152081, 1, 2959, 8360, 8961, 71264, ...]"
2,18,"[50, 318, 923, 1201, 1203, 1209, 1221, 16, 47, 110, 235, 293, 356, 527, 589, 593, 608, 778, 904, 1080, 1136, 1148, 1193, 1206, 1207, 1210, 1212, 1213, 1219, 1222, 1223, 1227, 1234, 1247, 1356, 1374, 1732, 2324, 2542, 2571, 2762, 2951, 2959, 3052, 3275, 3578, 3681, 3949, 4011, 4226, 4993, 4995, 5008, 5120, 5995, 6300, 6440, 6539, 6807, 7147, 7153, 7254, 7843, 27716, 27878, 33794, 44191, 44199, 44665, 48516, 48780, 51540, 52604, 55118, 55290, 55765, 64197, 67255, 68073, 71108, 71899, 73017, 73323, 74458, 74510, 76251, 79132, 81788, 84392, 109487, 112334, 112552, 112852, 115713, 116797, 134130, 142488, 157108, 157110, 177593, ...]"
3,21,"[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
4,24,"[6, 318, 356, 593, 1198, 1265, 3147, 5064, 6350, 27773, 50, 296, 608, 1197, 1246, 1396, 1527, 1580, 1704, 1784, 2028, 2115, 2424, 2571, 2686, 3578, 4027, 4262, 4489, 4855, 5418, 5673, 5791, 7143, 35836, 38061, 44191, 46976, 51662, 54286, 58559, 58998, 64957, 68358, 70286, 72011, 79132, 86882, 91529, 94777, 119145, 132660, 134130, 134853, 32, 165, 253, 316, 457, 552, 780, 1220, 1370, 1663, 1682, 2273, 2421, 2617, 2916, 4299, 4701, 4973, 4995, 7293, 31685, 33679, 34437, 49272, 52973, 57368, 59615, 61024, 91542, 96079, 102407, 111759, 122886, 733, 1297, 1639, 1653, 2134, 5445, 5903, 8784, 31696, 45672, 47610, 61132, 63113, ...]"
...,...,...
115,586,"[110, 318, 589, 1198, 1200, 1374, 1580, 1704, 2011, 2353, 2490, 2571, 3175, 3578, 3753, 3793, 4886, 4993, 5952, 6333, 6539, 7153, 8368, 8665, 33615, 45431, 45499, 45517, 47610, 50872, 59315, 59369, 59784, 60069, 62999, 63859, 68954, 76093, 77561, 79091, 86298, 86880, 87222, 93272, 95167, 96861, 98243, 101142, 103141, 106489, 106696, 110102, 112852, 117851, 118696, 120635, 122886, 122896, 122906, 122918, 122920, 122922, 122926, 134853, 135133, 136556, 149406, 152081, 160438, 166461, 168252, 168418, 179819, 187595, 161, 260, 380, 457, 553, 588, 1073, 1196, 1210, 1265, 1270, 1376, 1610, 3114, 5459, 27619, 33493, 41566, 42738, 52287, 54001, 54286, 54648, 58559, 65682, 78499, ...]"
116,596,"[2288, 3000, 4878, 5971, 31658, 33649, 57669, 110102, 122882, 122906, 122916, 166528, 167746, 168252, 904, 1192, 1356, 1688, 1748, 4226, 4342, 4720, 5444, 5618, 6350, 7615, 8874, 38061, 51255, 60069, 70286, 76093, 107406, 111913, 122886, 134853, 135569, 138036, 143355, 171917, 1, 34, 39, 260, 364, 527, 541, 581, 593, 595, 616, 919, 924, 1028, 1035, 1036, 1046, 1097, 1136, 1210, 1214, 1270, 1374, 1375, 1376, 1704, 1907, 2081, 2393, 2407, 2571, 2687, 2692, 2762, 2959, 3052, 3094, 3213, 3275, 3535, 3786, 3793, 3967, 3996, 4306, 4366, 4973, 4993, 5903, 6333, 6377, 6502, 6934, 8961, 27246, 27611, 33794, 34405, 37729, 39183, ...]"
117,599,"[112, 260, 293, 296, 741, 750, 924, 951, 1089, 1178, 1196, 1200, 1208, 1210, 1214, 1274, 1283, 1732, 1967, 2395, 2427, 2571, 2858, 2959, 3030, 3160, 3435, 3703, 3949, 4973, 6711, 6874, 6, 215, 541, 589, 720, 1080, 1129, 1136, 1148, 1206, 1215, 1223, 1249, 1377, 1704, 1945, 2692, 2716, 3087, 3334, 3379, 3468, 3503, 3741, 4226, 4467, 4848, 5669, 6440, 7387, 7748, 27156, 68945, 80463, 96004, 170355, 21, 47, 318, 329, 431, 480, 745, 858, 861, 912, 923, 928, 930, 1036, 1050, 1095, 1097, 1183, 1204, 1213, 1221, 1225, 1230, 1232, 1236, 1237, 1242, 1244, 1246, 1265, 1282, 1291, ...]"
118,601,"[904, 1197, 1203, 2324, 5618, 31658, 48516, 50872, 59315, 60069, 68954, 76093, 134853, 166024, 170705, 908, 953, 1704, 2355, 2762, 3578, 5971, 33794, 48780, 67255, 70286, 74458, 80463, 81834, 88810, 89745, 91529, 106782, 115617, 152081, 172591, 177765, 1, 47, 912, 1136, 1193, 1198, 1207, 1527, 1721, 1917, 3000, 4306, 6016, 44191, 48394, 49272, 54286, 63082, 68157, 72378, 72998, 74946, 78499, 80549, 81845, 95167, 99114, 112852, 122918, 168326, 170697, 174055, 176371, 1584, 3114, 46578, 122916]"
119,610,"[1, 6, 47, 111, 194, 215, 260, 293, 296, 377, 380, 407, 441, 480, 541, 589, 778, 784, 858, 903, 904, 1036, 1089, 1136, 1196, 1198, 1200, 1201, 1208, 1209, 1210, 1213, 1218, 1221, 1228, 1240, 1241, 1245, 1247, 1258, 1261, 1270, 1273, 1274, 1279, 1394, 1676, 1682, 1884, 1923, 1953, 1967, 2000, 2028, 2076, 2288, 2571, 2716, 2916, 2924, 2959, 2968, 2985, 3114, 3246, 3265, 3328, 3362, 3424, 3468, 3527, 3578, 3671, 3681, 3897, 3925, 3972, 3996, 4105, 4226, 4437, 4794, 4848, 4878, 4993, 5139, 5673, 5772, 5833, 5909, 5952, 5954, 6016, 6502, 6711, 7022, 7153, 7361, 7387, 8142, ...]"

In [455]:
merged_df_test = pd.merge(df, ideal_recomms2, left_on='user_id', right_on='userId', how='inner')
merged_df_test = merged_df_test.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_test = merged_df_test.drop(columns=['userId'])

merged_df_test

,user_id,recomms_df,recomms_ideal
0,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]","[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
1,103,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[1206, 1222, 2997, 3160, 64614, 81932, 148626, 48516, 56782, 86882, 923, 1945, 4677, 6873, 61323, 69140, 96728, 116799, 367, 2018, 2421, 4254, 7367, 50912, 106766, 168250, 122886]"
2,105,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[2131, 4788, 5889, 37731, 57183, 80124, 104780, 116897, 120138, 120478, 129514, 130970, 134095, 136445, 136447, 138835, 140265, 141816, 142020, 143511, 145994, 147196, 147250, 147286, 147300, 147326, 147328, 147330, 150548, 151769, 159811, 159817, 163072, 163112, 163386, 163925, 165959, 166183, 170597, 170705, 170777, 171011, 171749, 172577, 172583, 172585, 172587, 172589, 172637, 172793, 172909, 173351, 173355, 173619, 173963, 174551, 175293, 175387, 175397, 175431, 179133, 56060, 86345, 86347, 92535, 98604, 104069, 107408, 120625, 127098, 133712, 133716, 134326, 140038, 141818, 141830, 152081, 163134, 163645, 172825, 173535, 175435, 935, 75341, 101088, 118888, 118896, 122904, 141810, 141820, 147282, 152591, 170411, 175401, 178613, 8533, 54997, 158402]"
3,112,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[91529, 6, 16, 253, 508, 68157, 79132, 19, 62, 104, 141, 288, 292, 454, 1356, 1393, 3717, 68954, 72998, 99114, 551, 778, 70286, 25, 208, 329, 21, 185, 2, 95, 161, 223, 339, 788, 17, 36, 39, 300, 357, 434]"
4,119,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[67255, 103984, 136598, 138210, 148626, 318, 7458, 56174, 89087, 112552, 122904, 131023, 135532, 141004, 142488, 157699, 162350, 165551, 168252, 48774, 50872, 108689, 110718, 110730, 114795, 117533, 129354, 134853, 139385, 139642, 166461, 7454, 8464, 8622, 51077, 64839, 136562, 140711]"
5,233,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[356, 177593, 2571, 3949, 58559, 50, 608, 858, 1206, 1298, 2028, 2324, 2997, 3081, 5418, 5952, 5954, 5995, 6377, 7371, 48516, 60069, 74458, 106100, 112183, 159817, 170705, 47, 364, 778, 924, 1059, 1721, 1921, 2692, 2762, 4239, 4262, 4995, 5816, 5956, 5989, 6016, 6874, 7438, 8368, 8961, 33794, 44555, 49272, 73017, 79132, 81591, 81845, 91529, 92259, 99114, 168266, 180031, 183897, 1, 110, 648, 1136, 1193, 1225, 1580, 1884, 2858, 3285, 6365, 6539, 7458, 27803, 32587, 44191, 54286, 55765, 55872, 57669, 58025, 59315, 69122, 69134, 70286, 86298, 91658, 96020, 109487, 122904, 134214, 178061, 780, 1089, 3948, 6863, 6934, 51086, 72998, 78103, ...]"
6,249,"[592, 590, 153, 165, 316, 349, 231, 161, 292, 454, 329, 185, 10, 34, 339, 597, 300, 587, 539, 39]","[96821, 139385, 164179, 166528, 168252, 187593, 1193, 7438, 122904, 122906, 122912, 122916, 122918, 122920, 122922, 122926, 128360, 137857, 142488, 143355, 148626, 152081, 152970, 158238, 158872, 160718, 166534, 166643, 171763, 175569, 176371, 179819, 185029, 541, 4896, 7254, 8914, 81834, 88125, 108729, 115149, 116823, 122890, 122924, 135133, 135569, 140715, 152077, 157296, 159093, 159755, 161131, 167746, 168254, 168266, 169984, 176101, 182715, 184253, 2717, 120799, 142422, 149352, 160080, 162478, 162606, 167370, 182823, 184015, 135567, 143367, 146210, 148888, 152091, 156609, 160954, 170813, 170875, 173941, 185435, 143365]"
7,285,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[858, 903, 904, 912, 1104, 1252, 1968, 1276, 949, 1304, 1945, 3296, 109374, 474, 7265, 113207, 4091, 1285]"
8,292,"[150, 527, 316, 47, 50, 648, 292, 208, 454, 329, 185, 2858, 736, 339, 300, 539, 288, 39, 410, 95]","[106487, 116823, 1278, 2302, 56775, 102903, 108190, 115617, 119145, 122900, 135133, 166528, 440, 73321, 103335, 130490, 113378, 114180, 2291, 122882, 164909, 1573, 64614, 70286, 102407, 130576, 113345, 129937, 165549, 127323, 118900]"
9,298,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[6283, 1247, 1274, 2858, 50610, 122886, 741, 1220, 1476, 1968, 2115, 2335, 2772, 7099, 136449, 156371, 413, 562, 1320, 1387, 1587, 1916, 2019, 2144, 2193, 2195, 2416, 2628, 2826, 3477, 5378, 33493, 37384, 47640, 54745, 65982, 93363, 96588, 102993, 103048, 103980, 104241, 122904, 122920, 127198, 127202, 133771, 139385, 141688, 163, 208, 780, 1275, 1285, 1439, 1584, 2572, 2599, 2694, 3254, 3617, 3791, 4558, 4900, 36537, 44840, 54256, 61160, 64231, 70663, 76060, 79134, 102033, 103539, 104211, 105213, 108945, 112370, 115713, 135567, 136020, 153, 539, 1466, 1526, 1690, 1746, 1855, 5283, 5363, 5573, 7048, 34523, 47518, 56012, 56801, 58655, 68600, 71135, 84615, ...]"
10,318,"[318, 110, 150, 592, 380, 589, 457, 588, 1, 316, 47, 50, 349, 231, 161, 434, 292, 367, 454, 329]","[1274, 26073, 171495, 179135, 184245, 3569, 3683, 8484, 8724, 26048, 26713, 72356, 87660, 117533, 120478, 134853, 135143, 143896, 148424, 150696, 158238, 159976, 165969, 171011, 173317, 176371, 177593, 188833, 535, 1024, 1639, 3000, 3006, 3728, 3845, 4300, 5475, 5838, 7206, 7209, 27186, 32917, 48001, 49917, 70533, 72714, 72720, 85213, 86922, 91860, 94953, 100277, 102742, 108729, 114678, 117364, 122906, 134214, 134881, 143859, 147002, 158972, 162578, 166528, 168492, 173197, 176, 1289, 4007, 32906, 47446, 48638, 56587, 70984, 84187, 86279, 109187, 133771, 142456, 143355, 152065, 155774, 158842, 160563, 160684, 168612, 182715, 188675, 2952, 4241, 4825, 7228, 7265, 64497, 71867, 95558, 102125, 104243, 106873, 111360, ...]"
11,326,"[593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 47, 32, 165, 316, 377, 349, 260]","[8665, 133771, 139385, 1246, 117466, 142488, 116897, 134130, 142448, 146656]"
12,341,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[59900, 380, 2502, 6537, 114662, 136020, 1036, 1370, 4447, 4816, 5816, 47099, 94677, 119145, 788, 3624, 3751, 5218, 115149, 2720, 3988, 5459, 6218, 6373, 6863, 135137, 69122]"
13,443,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[318, 356, 608, 5952, 7153, 96430, 106918, 110, 1, 260, 296, 79132]"
14,448,"[318, 110, 588, 527, 595, 292, 364, 253, 34, 39, 2028, 141, 266, 225, 62, 1721, 25, 6, 1197, 293]","[923, 152105, 778, 3498, 89305, 104913, 114935, 115617, 122904, 134130, 134393, 134853, 134881, 135861, 155659, 157296, 158872, 113532, 119145, 122900, 129659, 134859, 138210, 139385, 143385, 3284, 79091, 96588, 102819, 103335, 109895, 115149, 115216, 118354, 118572, 118924, 122882, 122892, 122920, 123947, 127204, 129354, 130576, 133419, 134368, 135536, 136020, 136562, 137857, 139415, 139642, 140725, 140928, 142222, 142448, 143859, 145150, 148482, 148592, 149406, 150401, 151777, 152083, 156609, 157122, 159193, 160573, 59369, 114818, 117466, 117529, 119155, 120783, 127136, 127198, 129428, 134021, 135137, 135569, 135887, 136816, 140110, 141422, 142997, 143257, 144620, 145839, 148956, 149590, 150604, 152077, 152085, 152091, 155812, 156553, 156706, 157200, 157270, 157340, 159077, ...]"
15,462,"[110, 480, 150, 590, 380, 457, 344, 780, 588, 153, 165, 316, 349, 595, 648, 161, 434, 292, 367, 208]","[1241, 100556, 152711, 160644, 162414, 167064, 168250, 187717, 44555, 61323, 80862, 91077, 103107, 142488, 146656, 158966, 164917, 171763, 183317, 188189, 1968, 2527, 8949, 48385, 60333, 88744, 103624, 112623, 127136, 134214, 148982, 164179, 179813, 183199, 184721, 1198, 2144, 2997, 5205, 5902, 98809, 111360, 139644, 148626, 161127, 2145, 5212, 55820, 122926, 151311, 122882, 122902, 140928, 189713, 6528, 143355, 164655, 173145, 69757, 91542, 118696, 143859, 1097, 4979, 54648]"
16,511,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[139385, 1653, 2628, 51086, 55814, 55908, 56941, 59387, 90866, 94677, 97752, 105844, 112623, 115149, 119145, 122882, 122916, 164179, 5349, 6534, 41569, 53953, 56757, 95207, 103253, 107406, 114935, 1970, 50601, 96737]"
17,537,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]",[55946]
18,582,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[8368, 40815, 59315, 68358, 122886, 593, 2959, 4226, 91658, 116797]"
19,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[904, 1197, 1203, 2324, 5618, 31658, 48516, 50872, 59315, 60069, 68954, 76093, 134853, 166024, 170705, 908, 953, 1704, 2355, 2762, 3578, 5971, 33794, 48780, 67255, 70286, 74458, 80463, 81834, 88810, 89745, 91529, 106782, 115617, 152081, 172591, 177765, 1, 47, 912, 1136, 1193, 1198, 1207, 1527, 1721, 1917, 3000, 4306, 6016, 44191, 48394, 49272, 54286, 63082, 68157, 72378, 72998, 74946, 78499, 80549, 81845, 95167, 99114, 112852, 122918, 168326, 170697, 174055, 176371, 1584, 3114, 46578, 122916]"

In [456]:
aps = []

for pred, label in merged_df_test[["recomms_ideal","recomms_df"]].values:
  n = len(pred)
  arange = np.arange(n, dtype=np.int32) + 1.
  rel_k = np.in1d(pred[:n], label)
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
  denom = arange[rel_k]
  ap = (tp / denom).sum() / len(label)
  aps.append(ap)

In [457]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.02377