# 3er Entregable

Integrantes:
- Araoz, Tania
- Bajo, Pablo
- Barrera, Manuel

### Carga de librerias a utilizar

In [1]:
import pandas as pd
from datetime import datetime
from scipy.sparse import csr_matrix
from lightfm import LightFM
import numpy as np

C:\Users\Manuel\AppData\Local\Temp\ipykernel_20396\790300137.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
c:\Users\Manuel\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

### Carga de datasets

In [2]:
movies = pd.read_csv("../data/ml-latest/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("../data/ml-latest/ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

> Se usa el dataset de ratings para trabajar, tiene las interacciones entre usuarios y películas

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

> El dataset contiene 100836 interacciones. <span style="color:red">ACTUALIZAR CON DATASET GRANDE</span>

> El timestamp está en formato int64, se debe convertir a formato fecha para poder trabajar.

In [5]:
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

> No hay valores nulos

In [6]:
ratings['userId'].nunique()

162541

> El dataset tiene 610 ususarios. <span style="color:red">Cambiar con dataset grande</span>

In [7]:
ratings['movieId'].nunique()

59047

> el dataset contiene ratings de 9724 peliculas. <span style="color:red">Actualizar con dataset grande</span>

In [8]:
ratings['rating'].sort_values(ascending=True).unique()

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

> Los valores posibles de ratings van del 0.5 al 5, con un incremento de 0.5.

#### Preprocesado

Convertimos el timestamp numerico en formato fecha

In [9]:
ratings["timestamp"] = ratings["timestamp"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y/%m/%d'))

In [10]:
ratings["timestamp"]

0           2006/05/17
1           2006/05/17
2           2006/05/17
3           2006/05/17
4           2006/05/17
               ...
25000090    2009/04/28
25000091    2009/04/28
25000092    2009/04/28
25000093    2009/04/28
25000094    2009/04/28
Name: timestamp, Length: 25000095, dtype: object

> Vemos que la fecha tiene un formato de fecha, pero la columna es de tipo object

Utilizando pandas convertimos a un formato de fechas que permita el filtrado

In [11]:
ratings["timestamp"] = pd.to_datetime(ratings['timestamp'], format='%Y/%m/%d')

In [12]:
ratings["timestamp"]

0          2006-05-17
1          2006-05-17
2          2006-05-17
3          2006-05-17
4          2006-05-17
              ...
25000090   2009-04-28
25000091   2009-04-28
25000092   2009-04-28
25000093   2009-04-28
25000094   2009-04-28
Name: timestamp, Length: 25000095, dtype: datetime64[ns]

> Vemos que la columna tiene el formato datetime64

In [13]:
ratings.head()

   userId  movieId  rating  timestamp
0       1      296     5.0 2006-05-17
1       1      306     3.5 2006-05-17
2       1      307     5.0 2006-05-17
3       1      665     5.0 2006-05-17
4       1      899     3.5 2006-05-17

Vemos el rango de fechas del dataset

In [14]:
ratings.timestamp.min()

Timestamp('1995-01-09 00:00:00')

In [15]:
ratings.timestamp.max()

Timestamp('2019-11-21 00:00:00')

> Vemos que el rango de fechas va desde el 29/03/1996 al 24/09/24

#### Dividimos dataset en train, test y validation
Vemos la catidad de ratings por año

In [16]:
plot_df = ratings.copy()
plot_df["year"] = ratings.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1995              3
1   1996        1430093
2   1997         626202
3   1998         272099
4   1999        1059080
5   2000        1735398
6   2001        1058750
7   2002         776654
8   2003         920295
9   2004        1048116
10  2005        1613550
11  2006        1038458
12  2007         931432
13  2008        1018001
14  2009         810127
15  2010         792436
16  2011         676498
17  2012         635208
18  2013         515684
19  2014         478270
20  2015        1604971
21  2016        1757440
22  2017        1689935
23  2018        1310761
24  2019        1200634

> Tomamos una proporción 80/20 para dividir el dataset en train - test

In [17]:
train = ratings[(ratings.timestamp < datetime(year=2015, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0       1      296     5.0 2006-05-17
1       1      306     3.5 2006-05-17
2       1      307     5.0 2006-05-17
3       1      665     5.0 2006-05-17
4       1      899     3.5 2006-05-17

In [18]:
train.shape

(17436354, 4)

In [19]:
train.userId.nunique()

121673

In [20]:
train.movieId.nunique()

22316

In [21]:
test = ratings[ratings.timestamp >= datetime(year=2015, month=1, day=1)]
test.head()

     userId  movieId  rating  timestamp
254       3        1     4.0 2015-08-13
255       3       29     4.5 2017-01-18
256       3       32     4.5 2015-08-13
257       3       50     5.0 2015-08-13
258       3      111     4.0 2017-01-18

In [22]:
test.shape

(7563741, 4)

In [23]:
test.userId.nunique()

45450

In [24]:
test.movieId.nunique()

58133

In [25]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1995              3
1   1996        1430093
2   1997         626202
3   1998         272099
4   1999        1059080
5   2000        1735398
6   2001        1058750
7   2002         776654
8   2003         920295
9   2004        1048116
10  2005        1613550
11  2006        1038458
12  2007         931432
13  2008        1018001
14  2009         810127
15  2010         792436
16  2011         676498
17  2012         635208
18  2013         515684
19  2014         478270

In [26]:
train.shape

(17436354, 4)

> Definimos el conjunto de validación, en función de nuestro conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [27]:
validation = train[train.timestamp >= datetime(year=2009, month=1, day=1)]
validation.head()

      userId  movieId  rating  timestamp
1740      12      101     4.0 2009-10-12
1863      12      908     4.5 2009-12-18
1868      12      919     4.0 2010-02-23
1870      12      926     4.5 2010-02-23
1889      12     1080     3.0 2009-12-18

In [28]:
validation.shape

(3908223, 4)

In [29]:
validation.userId.nunique()

30854

In [30]:
validation.movieId.nunique()

22075

In [31]:
plot_df = validation.copy()
plot_df["year"] = validation.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

   year  reviews_count
0  2009         810127
1  2010         792436
2  2011         676498
3  2012         635208
4  2013         515684
5  2014         478270

> Redefinimos el conjunto de entrenamiento. <span style="color:red">Actualizar con dataset grande</span>

In [32]:
train = train[(train.timestamp < datetime(year=2009, month=1, day=1))]
train.head()

   userId  movieId  rating  timestamp
0       1      296     5.0 2006-05-17
1       1      306     3.5 2006-05-17
2       1      307     5.0 2006-05-17
3       1      665     5.0 2006-05-17
4       1      899     3.5 2006-05-17

In [33]:
plot_df = train.copy()
plot_df["year"] = train.timestamp.dt.year
plot_df = plot_df.groupby("year", as_index=False).count()[["year", "userId"]]
plot_df.columns = ["year", "reviews_count"]
plot_df.head(25)

    year  reviews_count
0   1995              3
1   1996        1430093
2   1997         626202
3   1998         272099
4   1999        1059080
5   2000        1735398
6   2001        1058750
7   2002         776654
8   2003         920295
9   2004        1048116
10  2005        1613550
11  2006        1038458
12  2007         931432
13  2008        1018001

In [34]:
train.shape

(13528131, 4)

¿Tenemos COLDSTAR?

In [35]:
test[~test.userId.isin(train.userId.unique())].userId.nunique()

43574

> Tenemos ### Usuarios que se encuentra en el dataset de test y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

In [36]:
validation[~validation.userId.isin(train.userId.unique())].userId.nunique()

25796

> Tenemos ### Usuarios que se encuentra en el dataset de validation y no en el de train. <span style="color:red">Actualizar con dataset grande</span>

#### Matriz de Interacciones

In [37]:
interactions_train = train[["userId", "movieId", "rating"]].copy()
interactions_train.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [38]:
interactions_matrix = interactions_train.pivot(index="userId", columns="movieId", values="rating")

In [39]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,64969,64976,64983,64986,64990,64993,64997,65011,65025,65088
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
interactions_matrix = interactions_matrix.fillna(0)

In [41]:
interactions_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,64969,64976,64983,64986,64990,64993,64997,65011,65025,65088
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
interactions_matrix.shape

(95877, 10590)

In [43]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [44]:
interactions_matrix_csr

<95877x10590 sparse matrix of type '<class 'numpy.float64'>'
	with 13528131 stored elements in Compressed Sparse Row format>

In [45]:
user_ids = list(interactions_matrix.index)
user_map = {}
counter = 0
for i in user_ids:
    user_map[i] = counter
    counter += 1

In [46]:
user_map

{1: 0,
 2: 1,
 5: 2,
 6: 3,
 7: 4,
 8: 5,
 9: 6,
 10: 7,
 11: 8,
 12: 9,
 15: 10,
 18: 11,
 20: 12,
 22: 13,
 23: 14,
 25: 15,
 27: 16,
 28: 17,
 32: 18,
 36: 19,
 41: 20,
 42: 21,
 43: 22,
 45: 23,
 47: 24,
 48: 25,
 49: 26,
 54: 27,
 56: 28,
 57: 29,
 59: 30,
 60: 31,
 61: 32,
 62: 33,
 66: 34,
 67: 35,
 72: 36,
 73: 37,
 74: 38,
 76: 39,
 77: 40,
 79: 41,
 80: 42,
 83: 43,
 85: 44,
 86: 45,
 90: 46,
 92: 47,
 94: 48,
 97: 49,
 100: 50,
 103: 51,
 105: 52,
 106: 53,
 107: 54,
 111: 55,
 112: 56,
 115: 57,
 116: 58,
 118: 59,
 120: 60,
 121: 61,
 122: 62,
 123: 63,
 124: 64,
 125: 65,
 129: 66,
 130: 67,
 131: 68,
 132: 69,
 133: 70,
 134: 71,
 135: 72,
 136: 73,
 137: 74,
 139: 75,
 140: 76,
 141: 77,
 143: 78,
 147: 79,
 152: 80,
 155: 81,
 156: 82,
 157: 83,
 158: 84,
 159: 85,
 160: 86,
 161: 87,
 162: 88,
 163: 89,
 164: 90,
 165: 91,
 166: 92,
 167: 93,
 168: 94,
 169: 95,
 171: 96,
 173: 97,
 175: 98,
 176: 99,
 177: 100,
 178: 101,
 179: 102,
 182: 103,
 183: 104,
 184: 105,
 185: 106,
 186: 107,
 188: 108,
 189: 109,
 190: 110,
 192: 111,
 193: 112,
 196: 113,
 197: 114,
 198: 115,
 199: 116,
 200: 117,
 201: 118,
 202: 119,
 205: 120,
 206: 121,
 212: 122,
 213: 123,
 214: 124,
 215: 125,
 216: 126,
 217: 127,
 218: 128,
 221: 129,
 224: 130,
 226: 131,
 229: 132,
 230: 133,
 231: 134,
 232: 135,
 233: 136,
 236: 137,
 237: 138,
 239: 139,
 240: 140,
 241: 141,
 242: 142,
 244: 143,
 245: 144,
 247: 145,
 249: 146,
 250: 147,
 251: 148,
 255: 149,
 256: 150,
 258: 151,
 259: 152,
 261: 153,
 262: 154,
 263: 155,
 265: 156,
 268: 157,
 269: 158,
 270: 159,
 271: 160,
 272: 161,
 276: 162,
 277: 163,
 278: 164,
 279: 165,
 280: 166,
 281: 167,
 285: 168,
 287: 169,
 288: 170,
 291: 171,
 293: 172,
 297: 173,
 298: 174,
 299: 175,
 304: 176,
 306: 177,
 307: 178,
 309: 179,
 310: 180,
 311: 181,
 313: 182,
 314: 183,
 315: 184,
 317: 185,
 318: 186,
 319: 187,
 322: 188,
 323: 189,
 325: 190,
 328: 191,
 329: 192,
 330: 193,
 331: 194,
 332: 195,
 333: 196,
 340: 197,
 341: 198,
 342: 199,
 343: 200,
 344: 201,
 345: 202,
 346: 203,
 348: 204,
 350: 205,
 351: 206,
 352: 207,
 353: 208,
 356: 209,
 359: 210,
 360: 211,
 363: 212,
 366: 213,
 369: 214,
 370: 215,
 371: 216,
 372: 217,
 374: 218,
 377: 219,
 378: 220,
 380: 221,
 383: 222,
 384: 223,
 385: 224,
 386: 225,
 387: 226,
 389: 227,
 391: 228,
 392: 229,
 396: 230,
 398: 231,
 399: 232,
 400: 233,
 401: 234,
 404: 235,
 405: 236,
 407: 237,
 408: 238,
 409: 239,
 410: 240,
 414: 241,
 416: 242,
 417: 243,
 420: 244,
 421: 245,
 422: 246,
 427: 247,
 428: 248,
 430: 249,
 431: 250,
 433: 251,
 434: 252,
 435: 253,
 437: 254,
 438: 255,
 440: 256,
 442: 257,
 443: 258,
 446: 259,
 447: 260,
 453: 261,
 455: 262,
 457: 263,
 458: 264,
 459: 265,
 461: 266,
 462: 267,
 463: 268,
 465: 269,
 466: 270,
 468: 271,
 470: 272,
 472: 273,
 473: 274,
 474: 275,
 476: 276,
 477: 277,
 479: 278,
 480: 279,
 482: 280,
 483: 281,
 484: 282,
 487: 283,
 488: 284,
 490: 285,
 492: 286,
 493: 287,
 495: 288,
 497: 289,
 499: 290,
 500: 291,
 501: 292,
 502: 293,
 506: 294,
 507: 295,
 508: 296,
 509: 297,
 515: 298,
 516: 299,
 518: 300,
 519: 301,
 523: 302,
 525: 303,
 526: 304,
 528: 305,
 529: 306,
 530: 307,
 532: 308,
 533: 309,
 534: 310,
 535: 311,
 537: 312,
 539: 313,
 540: 314,
 545: 315,
 547: 316,
 549: 317,
 551: 318,
 552: 319,
 553: 320,
 555: 321,
 557: 322,
 559: 323,
 560: 324,
 561: 325,
 564: 326,
 565: 327,
 566: 328,
 567: 329,
 568: 330,
 569: 331,
 570: 332,
 572: 333,
 574: 334,
 576: 335,
 578: 336,
 579: 337,
 580: 338,
 581: 339,
 582: 340,
 584: 341,
 586: 342,
 587: 343,
 588: 344,
 591: 345,
 592: 346,
 594: 347,
 597: 348,
 599: 349,
 600: 350,
 601: 351,
 604: 352,
 605: 353,
 609: 354,
 611: 355,
 613: 356,
 614: 357,
 616: 358,
 617: 359,
 620: 360,
 621: 361,
 622: 362,
 623: 363,
 624: 364,
 625: 365,
 626: 366,
 627: 367,
 629: 368,
 630: 369,
 631: 370,
 632: 371,
 633: 372,
 634: 373,
 636: 374,
 637: 375,
 638: 376,
 639: 377,
 640: 378,
 641: 379,
 642: 380,
 643: 381,
 644: 382,
 645: 383,
 646: 384,
 649: 385,
 651: 386,
 653: 387,
 654: 388,
 655: 389,
 656: 390,
 659: 391,
 660: 392,
 662: 393,
 663: 394,
 664: 395,
 665: 396,
 666: 397,
 668: 398,
 669: 399,
 670: 400,
 671: 401,
 672: 402,
 673: 403,
 674: 404,
 676: 405,
 677: 406,
 680: 407,
 682: 408,
 683: 409,
 685: 410,
 686: 411,
 688: 412,
 690: 413,
 692: 414,
 693: 415,
 694: 416,
 695: 417,
 697: 418,
 699: 419,
 703: 420,
 706: 421,
 707: 422,
 708: 423,
 710: 424,
 714: 425,
 716: 426,
 717: 427,
 718: 428,
 719: 429,
 720: 430,
 721: 431,
 722: 432,
 724: 433,
 726: 434,
 728: 435,
 731: 436,
 732: 437,
 733: 438,
 734: 439,
 742: 440,
 745: 441,
 746: 442,
 748: 443,
 751: 444,
 752: 445,
 753: 446,
 754: 447,
 756: 448,
 757: 449,
 760: 450,
 762: 451,
 764: 452,
 765: 453,
 766: 454,
 767: 455,
 769: 456,
 770: 457,
 771: 458,
 772: 459,
 773: 460,
 776: 461,
 778: 462,
 779: 463,
 785: 464,
 789: 465,
 793: 466,
 796: 467,
 803: 468,
 805: 469,
 806: 470,
 809: 471,
 810: 472,
 811: 473,
 812: 474,
 813: 475,
 816: 476,
 817: 477,
 818: 478,
 820: 479,
 821: 480,
 823: 481,
 828: 482,
 830: 483,
 834: 484,
 835: 485,
 836: 486,
 837: 487,
 838: 488,
 839: 489,
 840: 490,
 841: 491,
 842: 492,
 843: 493,
 844: 494,
 846: 495,
 847: 496,
 849: 497,
 850: 498,
 851: 499,
 853: 500,
 854: 501,
 855: 502,
 857: 503,
 858: 504,
 859: 505,
 860: 506,
 861: 507,
 863: 508,
 864: 509,
 866: 510,
 869: 511,
 872: 512,
 873: 513,
 875: 514,
 876: 515,
 877: 516,
 880: 517,
 881: 518,
 882: 519,
 883: 520,
 884: 521,
 885: 522,
 886: 523,
 888: 524,
 889: 525,
 890: 526,
 891: 527,
 892: 528,
 893: 529,
 894: 530,
 895: 531,
 897: 532,
 900: 533,
 902: 534,
 903: 535,
 905: 536,
 907: 537,
 908: 538,
 909: 539,
 911: 540,
 914: 541,
 915: 542,
 916: 543,
 917: 544,
 918: 545,
 920: 546,
 921: 547,
 922: 548,
 924: 549,
 925: 550,
 926: 551,
 927: 552,
 929: 553,
 930: 554,
 931: 555,
 933: 556,
 934: 557,
 937: 558,
 938: 559,
 939: 560,
 940: 561,
 942: 562,
 945: 563,
 947: 564,
 948: 565,
 949: 566,
 950: 567,
 953: 568,
 954: 569,
 957: 570,
 958: 571,
 959: 572,
 960: 573,
 961: 574,
 964: 575,
 965: 576,
 966: 577,
 968: 578,
 969: 579,
 971: 580,
 972: 581,
 974: 582,
 976: 583,
 978: 584,
 979: 585,
 980: 586,
 982: 587,
 983: 588,
 984: 589,
 985: 590,
 986: 591,
 991: 592,
 992: 593,
 993: 594,
 994: 595,
 995: 596,
 996: 597,
 998: 598,
 999: 599,
 1000: 600,
 1001: 601,
 1004: 602,
 1005: 603,
 1007: 604,
 1009: 605,
 1013: 606,
 1015: 607,
 1016: 608,
 1018: 609,
 1020: 610,
 1022: 611,
 1023: 612,
 1024: 613,
 1025: 614,
 1026: 615,
 1027: 616,
 1030: 617,
 1031: 618,
 1032: 619,
 1033: 620,
 1035: 621,
 1036: 622,
 1037: 623,
 1038: 624,
 1041: 625,
 1044: 626,
 1045: 627,
 1046: 628,
 1048: 629,
 1049: 630,
 1050: 631,
 1052: 632,
 1054: 633,
 1058: 634,
 1061: 635,
 1062: 636,
 1063: 637,
 1064: 638,
 1065: 639,
 1067: 640,
 1069: 641,
 1070: 642,
 1073: 643,
 1074: 644,
 1075: 645,
 1076: 646,
 1077: 647,
 1078: 648,
 1079: 649,
 1081: 650,
 1082: 651,
 1083: 652,
 1084: 653,
 1085: 654,
 1089: 655,
 1091: 656,
 1092: 657,
 1094: 658,
 1095: 659,
 1096: 660,
 1102: 661,
 1103: 662,
 1105: 663,
 1106: 664,
 1107: 665,
 1109: 666,
 1110: 667,
 1111: 668,
 1112: 669,
 1113: 670,
 1114: 671,
 1115: 672,
 1117: 673,
 1118: 674,
 1119: 675,
 1120: 676,
 1121: 677,
 1123: 678,
 1124: 679,
 1125: 680,
 1126: 681,
 1127: 682,
 1128: 683,
 1129: 684,
 1130: 685,
 1132: 686,
 1133: 687,
 1135: 688,
 1136: 689,
 1137: 690,
 1138: 691,
 1140: 692,
 1143: 693,
 1144: 694,
 1146: 695,
 1147: 696,
 1150: 697,
 1151: 698,
 1156: 699,
 1157: 700,
 1160: 701,
 1161: 702,
 1163: 703,
 1164: 704,
 1166: 705,
 1169: 706,
 1171: 707,
 1173: 708,
 1177: 709,
 1178: 710,
 1179: 711,
 1180: 712,
 1182: 713,
 1184: 714,
 1185: 715,
 1188: 716,
 1189: 717,
 1190: 718,
 1193: 719,
 1195: 720,
 1197: 721,
 1198: 722,
 1199: 723,
 1200: 724,
 1201: 725,
 1204: 726,
 1205: 727,
 1207: 728,
 1208: 729,
 1209: 730,
 1210: 731,
 1211: 732,
 1213: 733,
 1214: 734,
 1215: 735,
 1217: 736,
 1218: 737,
 1219: 738,
 1220: 739,
 1221: 740,
 1222: 741,
 1225: 742,
 1227: 743,
 1229: 744,
 1230: 745,
 1231: 746,
 1233: 747,
 1234: 748,
 1235: 749,
 1236: 750,
 1237: 751,
 1239: 752,
 1240: 753,
 1242: 754,
 1244: 755,
 1245: 756,
 1246: 757,
 1247: 758,
 1248: 759,
 1249: 760,
 1251: 761,
 1252: 762,
 1256: 763,
 1257: 764,
 1260: 765,
 1261: 766,
 1263: 767,
 1264: 768,
 1269: 769,
 1271: 770,
 1273: 771,
 1277: 772,
 1278: 773,
 1279: 774,
 1283: 775,
 1284: 776,
 1286: 777,
 1287: 778,
 1289: 779,
 1290: 780,
 1291: 781,
 1292: 782,
 1293: 783,
 1295: 784,
 1297: 785,
 1298: 786,
 1299: 787,
 1300: 788,
 1301: 789,
 1303: 790,
 1304: 791,
 1305: 792,
 1308: 793,
 1310: 794,
 1311: 795,
 1313: 796,
 1314: 797,
 1317: 798,
 1318: 799,
 1319: 800,
 1320: 801,
 1322: 802,
 1324: 803,
 1325: 804,
 1326: 805,
 1329: 806,
 1331: 807,
 1333: 808,
 1334: 809,
 1336: 810,
 1339: 811,
 1340: 812,
 1341: 813,
 1347: 814,
 1349: 815,
 1351: 816,
 1353: 817,
 1356: 818,
 1357: 819,
 1359: 820,
 1361: 821,
 1362: 822,
 1364: 823,
 1365: 824,
 1367: 825,
 1368: 826,
 1370: 827,
 1371: 828,
 1373: 829,
 1374: 830,
 1378: 831,
 1379: 832,
 1382: 833,
 1383: 834,
 1385: 835,
 1387: 836,
 1389: 837,
 1391: 838,
 1392: 839,
 1393: 840,
 1394: 841,
 1395: 842,
 1397: 843,
 1399: 844,
 1402: 845,
 1403: 846,
 1404: 847,
 1405: 848,
 1406: 849,
 1407: 850,
 1408: 851,
 1410: 852,
 1411: 853,
 1412: 854,
 1413: 855,
 1414: 856,
 1416: 857,
 1418: 858,
 1420: 859,
 1421: 860,
 1422: 861,
 1423: 862,
 1425: 863,
 1429: 864,
 1433: 865,
 1434: 866,
 1435: 867,
 1436: 868,
 1437: 869,
 1438: 870,
 1441: 871,
 1443: 872,
 1445: 873,
 1446: 874,
 1448: 875,
 1450: 876,
 1452: 877,
 1453: 878,
 1454: 879,
 1455: 880,
 1457: 881,
 1459: 882,
 1461: 883,
 1462: 884,
 1465: 885,
 1466: 886,
 1467: 887,
 1468: 888,
 1470: 889,
 1472: 890,
 1475: 891,
 1479: 892,
 1482: 893,
 1483: 894,
 1485: 895,
 1487: 896,
 1488: 897,
 1491: 898,
 1492: 899,
 1493: 900,
 1494: 901,
 1495: 902,
 1497: 903,
 1498: 904,
 1499: 905,
 1502: 906,
 1504: 907,
 1505: 908,
 1506: 909,
 1508: 910,
 1510: 911,
 1513: 912,
 1515: 913,
 1516: 914,
 1519: 915,
 1521: 916,
 1525: 917,
 1526: 918,
 1527: 919,
 1528: 920,
 1529: 921,
 1530: 922,
 1532: 923,
 1536: 924,
 1537: 925,
 1538: 926,
 1540: 927,
 1542: 928,
 1545: 929,
 1546: 930,
 1549: 931,
 1550: 932,
 1551: 933,
 1552: 934,
 1553: 935,
 1556: 936,
 1557: 937,
 1558: 938,
 1559: 939,
 1561: 940,
 1563: 941,
 1564: 942,
 1565: 943,
 1566: 944,
 1567: 945,
 1568: 946,
 1569: 947,
 1570: 948,
 1572: 949,
 1573: 950,
 1574: 951,
 1575: 952,
 1579: 953,
 1581: 954,
 1584: 955,
 1590: 956,
 1592: 957,
 1594: 958,
 1595: 959,
 1597: 960,
 1599: 961,
 1601: 962,
 1602: 963,
 1603: 964,
 1604: 965,
 1605: 966,
 1606: 967,
 1607: 968,
 1610: 969,
 1612: 970,
 1613: 971,
 1615: 972,
 1619: 973,
 1620: 974,
 1624: 975,
 1625: 976,
 1626: 977,
 1627: 978,
 1630: 979,
 1631: 980,
 1633: 981,
 1634: 982,
 1635: 983,
 1636: 984,
 1637: 985,
 1638: 986,
 1641: 987,
 1642: 988,
 1643: 989,
 1644: 990,
 1645: 991,
 1646: 992,
 1647: 993,
 1648: 994,
 1651: 995,
 1653: 996,
 1654: 997,
 1655: 998,
 1656: 999,
 ...}

#### Modelo

In [47]:
%%time
model = LightFM(no_components=30, random_state=100, learning_rate=0.03, loss='logistic')

CPU times: total: 0 ns
Wall time: 9.53 ms

In [48]:
%%time
model = model.fit(interactions_matrix_csr, epochs=20)

CPU times: total: 5min 16s
Wall time: 20min 48s

In [49]:
model

#### Metodos auxiliares
Metodo para obtener las recomendaciones en caso de ColdStart

In [50]:
def getColdStarRecomm(dataset, no_recom): 
    '''
    Esta funcion recibe el dataset y retonar una lista de tamaño no_recom con recomendaciones mas populares 
    '''
    recomm = dataset.groupby("movieId", as_index=False).agg({"userId":"nunique"}).sort_values(by="userId", ascending=False)
    recomm.columns=["movieId", "popularity"]
    return recomm.movieId.values[:no_recom]

Metodo para obtener los scores a partir del modelo

In [51]:
def predict(user):
    '''
    Esta funcion recibe un usuario y retorna lista de scores
    '''
    user_predic = user_map[user]
    n_users, n_items = interactions_matrix.shape
    item_ids = np.arange(n_items)
    return model.predict(user_ids=user_predic, item_ids = item_ids)

Metodo para obtener las recomendaciones ordenadas

In [52]:
def getOrderedMoviesId(preds, no_recom):
    '''
    Esta funcion recibe los scores predecidos y retorna lista ordenada de moviesId
    '''
    recomm = pd.Series(preds)
    recomm.index = interactions_matrix.columns
    return list(pd.Series(recomm.sort_values(ascending=False).index))[:no_recom]

Metodo para eliminar de las recomendaciones las peliculas ya vistas

In [53]:
def getNotWatchedMovieId(user, recomm):
    '''
    Esta funcion recibe las recomendaciones y retorna lista de recomendaciones sin las peliculas vistas por el usuario
    '''
    watched = train[train.userId == user].movieId.unique()
    return [x for x in recomm if x not in watched][:20]

In [54]:
def recomm(user, no_recom):
    result = None
    if user in list(interactions_matrix.index):
        score = predict(user)
        recomm = getOrderedMoviesId(score, no_recom)
        result = getNotWatchedMovieId(user, recomm)
    else:
        result = getColdStarRecomm(train, 20)
    return result

#### Recomendaciones
Generamos metricas para todos los ususarios de validation

In [55]:
def recommAll_Validation(no_recom):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in validation.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom))
    return pd.DataFrame(recomms_dict)

In [ ]:
pd.options.display.max_colwidth = None
df = recommAll_Validation(100)
df

In [ ]:
df.columns

Index(['user_id', 'recomms'], dtype='object')

> Como de los ## usuarios del dataset validation, ## son usuarios nuevos, les asigna las recomendaciones coldstart <span style="color:red">Actualizar con dataset grande</span>

In [ ]:
df.user_id.nunique()

69

#### Comparación

> Primero generamos la recomendaciones ideales del conjunto de validación.

In [ ]:
interactions_validation = validation[["userId", "movieId", "rating"]].copy()
interactions_validation.head()

     userId  movieId  rating
232       2      318     3.0
233       2      333     4.0
234       2     1704     4.5
235       2     3578     4.0
236       2     6874     4.0

In [ ]:
interactions_validation.columns

Index(['userId', 'movieId', 'rating'], dtype='object')

In [ ]:
ideal_recomms = interactions_validation.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms

,userId,movieId
0,2,"[60756, 80906, 89774, 106782, 122882, 131724, 1704, 58559, 68157, 80489, 333, 3578, 6874, 46970, 48516, 74458, 79132, 86345, 112552, 8798, 91529, 99114, 115713, 318, 71535, 77455, 109487, 91658, 114060]"
1,21,"[10, 1270, 2011, 2012, 7573, 260, 356, 648, 1196, 1210, 1544, 1580, 2947, 2948, 2949, 2989, 2990, 2991, 2993, 3633, 3635, 3638, 3639, 3984, 4489, 4963, 5445, 7569, 7570, 8529, 8984, 33004, 33493, 53121, 53322, 58998, 68954, 78637, 101864, 111759, 111781, 135887, 364, 480, 588, 597, 743, 1198, 1291, 2115, 2424, 2529, 2571, 2628, 2671, 2763, 2916, 3022, 3253, 3868, 3869, 4005, 4306, 4545, 4896, 5218, 5378, 5418, 5574, 5816, 6539, 6934, 6942, 7143, 8360, 8368, 8644, 8665, 8798, 8972, 33615, 40815, 47566, 49272, 53125, 54286, 59315, 59615, 69644, 69844, 72998, 77561, 78499, 79185, 82202, 85259, 88125, 89745, 91630, 94677, ...]"
2,29,"[1408, 5464, 6502, 111362, 4223, 5010, 104841, 111759]"
3,60,"[527, 858, 58559, 318, 362, 783, 805, 1242, 2150, 2739, 3386, 3424, 6016, 48, 50, 60, 455, 832, 1203, 1562, 2067, 2724]"
4,63,"[1, 50, 260, 296, 318, 344, 745, 1080, 1136, 1148, 1196, 1198, 1208, 1220, 1223, 1270, 1288, 2078, 2716, 2788, 2858, 2959, 3949, 5669, 6104, 7361, 8874, 32587, 33779, 38038, 48774, 51255, 57669, 58559, 77455, 77800, 79702, 86290, 89753, 89904, 91529, 92494, 92535, 97913, 98491, 102217, 106696, 108932, 111781, 115617, 134853, 608, 1210, 1965, 2542, 2692, 6016, 6350, 7980, 48516, 64285, 81845, 96610, 102445, 47, 165, 357, 364, 367, 527, 588, 589, 592, 648, 778, 858, 912, 913, 953, 1036, 1084, 1193, 1201, 1202, 1203, 1213, 1221, 1262, 1282, 1291, 1617, 1968, 2115, 2329, 2791, 3088, 3435, 3481, 3535, 3751, ...]"
...,...,...
64,573,"[858, 109487, 111362, 112852]"
65,581,"[318, 527, 3147, 4896, 5816, 5995, 7361, 356, 2324, 2762, 2959, 3949, 4022, 4226, 4306, 4886, 4993, 4995, 5349, 5952, 6377, 7153, 8368, 44191, 79132, 81845, 92259, 109487, 112552, 1704, 59315, 60069, 68954, 116797, 134130, 2571, 4973, 5989, 7147, 48394]"
66,582,"[2571, 79091, 79132, 81834, 88125, 89745, 92259, 49272, 58559, 69844, 76093, 91529, 96079, 99114, 102125, 104841, 109487, 260, 1196, 48516, 54001, 60069, 68157, 74458, 81229, 81564, 87232, 91500, 91630, 94864, 109374, 134130, 4993, 5618, 44191, 48780, 68954, 73321, 115617, 84954, 97752, 97913, 76251, 77561, 85414, 96610]"
67,598,"[5816, 7361, 46578, 54001, 56367, 79132, 101577, 103543, 113829, 114265, 124851, 130490, 4963, 5418, 63082, 1197, 110771, 4226, 4306, 8360, 593]"
68,601,"[50, 318, 527, 858, 2028, 2571, 2959, 4226, 4886, 4993, 5952, 6377, 7153, 8961, 79132, 109487, 1221, 1262, 2019, 4963, 5989, 7361, 4995, 5445, 112556, 116797, 141846]"

In [ ]:
ideal_recomms.columns

Index(['userId', 'movieId'], dtype='object')

> Proximo paso sería hacer un nuevo dataframe, en donde combinariamos lo recomendado con la lista ideal para poder hacer la comparación.

In [ ]:
merged_df = pd.merge(df, ideal_recomms, left_on='user_id', right_on='userId', how='inner')
merged_df = merged_df.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df = merged_df.drop(columns=['userId'])

merged_df

,user_id,recomms_df,recomms_ideal
0,2,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[60756, 80906, 89774, 106782, 122882, 131724, 1704, 58559, 68157, 80489, 333, 3578, 6874, 46970, 48516, 74458, 79132, 86345, 112552, 8798, 91529, 99114, 115713, 318, 71535, 77455, 109487, 91658, 114060]"
1,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]","[10, 1270, 2011, 2012, 7573, 260, 356, 648, 1196, 1210, 1544, 1580, 2947, 2948, 2949, 2989, 2990, 2991, 2993, 3633, 3635, 3638, 3639, 3984, 4489, 4963, 5445, 7569, 7570, 8529, 8984, 33004, 33493, 53121, 53322, 58998, 68954, 78637, 101864, 111759, 111781, 135887, 364, 480, 588, 597, 743, 1198, 1291, 2115, 2424, 2529, 2571, 2628, 2671, 2763, 2916, 3022, 3253, 3868, 3869, 4005, 4306, 4545, 4896, 5218, 5378, 5418, 5574, 5816, 6539, 6934, 6942, 7143, 8360, 8368, 8644, 8665, 8798, 8972, 33615, 40815, 47566, 49272, 53125, 54286, 59315, 59615, 69644, 69844, 72998, 77561, 78499, 79185, 82202, 85259, 88125, 89745, 91630, 94677, ...]"
2,29,"[110, 593, 480, 592, 590, 380, 457, 589, 344, 588, 153, 1, 527, 32, 47, 377, 349, 260, 231, 595]","[1408, 5464, 6502, 111362, 4223, 5010, 104841, 111759]"
3,60,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[527, 858, 58559, 318, 362, 783, 805, 1242, 2150, 2739, 3386, 3424, 6016, 48, 50, 60, 455, 832, 1203, 1562, 2067, 2724]"
4,63,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[1, 50, 260, 296, 318, 344, 745, 1080, 1136, 1148, 1196, 1198, 1208, 1220, 1223, 1270, 1288, 2078, 2716, 2788, 2858, 2959, 3949, 5669, 6104, 7361, 8874, 32587, 33779, 38038, 48774, 51255, 57669, 58559, 77455, 77800, 79702, 86290, 89753, 89904, 91529, 92494, 92535, 97913, 98491, 102217, 106696, 108932, 111781, 115617, 134853, 608, 1210, 1965, 2542, 2692, 6016, 6350, 7980, 48516, 64285, 81845, 96610, 102445, 47, 165, 357, 364, 367, 527, 588, 589, 592, 648, 778, 858, 912, 913, 953, 1036, 1084, 1193, 1201, 1202, 1203, 1213, 1221, 1262, 1282, 1291, 1617, 1968, 2115, 2329, 2791, 3088, 3435, 3481, 3535, 3751, ...]"
...,...,...,...
64,573,"[590, 344, 527, 32, 349, 161, 434, 292, 208, 454, 329, 253, 608, 858, 34, 339, 597, 300, 587, 539]","[858, 109487, 111362, 112852]"
65,581,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[318, 527, 3147, 4896, 5816, 5995, 7361, 356, 2324, 2762, 2959, 3949, 4022, 4226, 4306, 4886, 4993, 4995, 5349, 5952, 6377, 7153, 8368, 44191, 79132, 81845, 92259, 109487, 112552, 1704, 59315, 60069, 68954, 116797, 134130, 2571, 4973, 5989, 7147, 48394]"
66,582,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[2571, 79091, 79132, 81834, 88125, 89745, 92259, 49272, 58559, 69844, 76093, 91529, 96079, 99114, 102125, 104841, 109487, 260, 1196, 48516, 54001, 60069, 68157, 74458, 81229, 81564, 87232, 91500, 91630, 94864, 109374, 134130, 4993, 5618, 44191, 48780, 68954, 73321, 115617, 84954, 97752, 97913, 76251, 77561, 85414, 96610]"
67,598,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[5816, 7361, 46578, 54001, 56367, 79132, 101577, 103543, 113829, 114265, 124851, 130490, 4963, 5418, 63082, 1197, 110771, 4226, 4306, 8360, 593]"
68,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[50, 318, 527, 858, 2028, 2571, 2959, 4226, 4886, 4993, 5952, 6377, 7153, 8961, 79132, 109487, 1221, 1262, 2019, 4963, 5989, 7361, 4995, 5445, 112556, 116797, 141846]"

In [ ]:
aps = []

for pred, label in merged_df[["recomms_ideal", "recomms_df"]].values:
  n = len(pred)
  arange = np.arange(n, dtype=np.int32) + 1.
  rel_k = np.in1d(pred[:n], label)
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
  denom = arange[rel_k]
  ap = (tp / denom).sum() / len(label)
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.08557

#### Metricas en test

In [ ]:
def recommAll_test(no_recom):
    recomms_dict = {
        'user_id': [],
        'recomms': []
    }
    for user in test.userId.unique():
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(recomm(user, no_recom))
    return pd.DataFrame(recomms_dict)

In [ ]:
pd.options.display.max_colwidth = None
df_test = recommAll_test(100)
df_test

,user_id,recomms
0,10,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
1,15,"[296, 356, 318, 110, 593, 480, 150, 592, 380, 590, 589, 457, 344, 780, 588, 1, 153, 527, 32, 47]"
2,18,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
3,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]"
4,24,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
...,...,...
115,586,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
116,596,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
117,599,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
118,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"
119,610,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]"

In [ ]:
interactions_test = test[["userId", "movieId", "rating"]].copy()
interactions_test.head()

      userId  movieId  rating
1119      10      296     1.0
1120      10      356     3.5
1121      10      588     4.0
1122      10      597     3.5
1123      10      912     4.0

In [ ]:
ideal_recomms2 = interactions_test.sort_values(by=["userId", "rating"], ascending=False)\
                  .groupby("userId", as_index=False)\
                  .agg({"movieId": "unique"})
ideal_recomms2

,userId,movieId
0,10,"[7458, 8533, 8869, 33794, 49272, 49286, 71579, 79091, 81845, 91529, 92259, 96079, 136020, 140110, 4306, 4447, 7169, 31685, 51705, 58559, 63992, 69406, 94070, 106696, 113275, 588, 912, 1907, 3578, 4993, 4995, 5952, 6535, 6942, 7149, 7153, 7154, 7375, 40819, 68954, 88163, 95167, 95449, 103335, 103339, 104374, 109853, 112006, 113394, 137595, 356, 597, 1784, 2671, 4246, 5377, 6377, 7293, 7451, 8529, 8636, 8665, 8969, 30749, 54286, 56367, 58047, 63113, 66203, 72330, 72720, 72737, 80549, 81847, 82167, 84374, 87222, 95543, 106489, 129428, 1088, 1247, 1307, 3882, 5066, 5620, 5943, 5957, 6155, 6266, 7151, 8808, 33145, 33679, 40629, 47099, 51662, 56949, 60397, 69844, ...]"
1,15,"[260, 318, 356, 527, 589, 1196, 1200, 1210, 1214, 1270, 2011, 3147, 3156, 3578, 4720, 4995, 5989, 33493, 84152, 122886, 152077, 166528, 1653, 2329, 2916, 48304, 48780, 84954, 104841, 111759, 112556, 134853, 296, 858, 1198, 1240, 2012, 2571, 2858, 3499, 3949, 4370, 5445, 64614, 71057, 97938, 101864, 105504, 109487, 134130, 47, 780, 1265, 2028, 3535, 4022, 4886, 4993, 5952, 6502, 7254, 8644, 56174, 60069, 68954, 70286, 79132, 85414, 103249, 158872, 160980, 166635, 293, 364, 588, 1527, 2081, 2762, 3753, 3994, 4306, 5618, 6377, 6874, 7438, 48774, 50872, 63859, 68237, 72998, 91500, 94864, 96610, 143385, 152081, 1, 2959, 8360, 8961, 71264, ...]"
2,18,"[50, 318, 923, 1201, 1203, 1209, 1221, 16, 47, 110, 235, 293, 356, 527, 589, 593, 608, 778, 904, 1080, 1136, 1148, 1193, 1206, 1207, 1210, 1212, 1213, 1219, 1222, 1223, 1227, 1234, 1247, 1356, 1374, 1732, 2324, 2542, 2571, 2762, 2951, 2959, 3052, 3275, 3578, 3681, 3949, 4011, 4226, 4993, 4995, 5008, 5120, 5995, 6300, 6440, 6539, 6807, 7147, 7153, 7254, 7843, 27716, 27878, 33794, 44191, 44199, 44665, 48516, 48780, 51540, 52604, 55118, 55290, 55765, 64197, 67255, 68073, 71108, 71899, 73017, 73323, 74458, 74510, 76251, 79132, 81788, 84392, 109487, 112334, 112552, 112852, 115713, 116797, 134130, 142488, 157108, 157110, 177593, ...]"
3,21,"[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
4,24,"[6, 318, 356, 593, 1198, 1265, 3147, 5064, 6350, 27773, 50, 296, 608, 1197, 1246, 1396, 1527, 1580, 1704, 1784, 2028, 2115, 2424, 2571, 2686, 3578, 4027, 4262, 4489, 4855, 5418, 5673, 5791, 7143, 35836, 38061, 44191, 46976, 51662, 54286, 58559, 58998, 64957, 68358, 70286, 72011, 79132, 86882, 91529, 94777, 119145, 132660, 134130, 134853, 32, 165, 253, 316, 457, 552, 780, 1220, 1370, 1663, 1682, 2273, 2421, 2617, 2916, 4299, 4701, 4973, 4995, 7293, 31685, 33679, 34437, 49272, 52973, 57368, 59615, 61024, 91542, 96079, 102407, 111759, 122886, 733, 1297, 1639, 1653, 2134, 5445, 5903, 8784, 31696, 45672, 47610, 61132, 63113, ...]"
...,...,...
115,586,"[110, 318, 589, 1198, 1200, 1374, 1580, 1704, 2011, 2353, 2490, 2571, 3175, 3578, 3753, 3793, 4886, 4993, 5952, 6333, 6539, 7153, 8368, 8665, 33615, 45431, 45499, 45517, 47610, 50872, 59315, 59369, 59784, 60069, 62999, 63859, 68954, 76093, 77561, 79091, 86298, 86880, 87222, 93272, 95167, 96861, 98243, 101142, 103141, 106489, 106696, 110102, 112852, 117851, 118696, 120635, 122886, 122896, 122906, 122918, 122920, 122922, 122926, 134853, 135133, 136556, 149406, 152081, 160438, 166461, 168252, 168418, 179819, 187595, 161, 260, 380, 457, 553, 588, 1073, 1196, 1210, 1265, 1270, 1376, 1610, 3114, 5459, 27619, 33493, 41566, 42738, 52287, 54001, 54286, 54648, 58559, 65682, 78499, ...]"
116,596,"[2288, 3000, 4878, 5971, 31658, 33649, 57669, 110102, 122882, 122906, 122916, 166528, 167746, 168252, 904, 1192, 1356, 1688, 1748, 4226, 4342, 4720, 5444, 5618, 6350, 7615, 8874, 38061, 51255, 60069, 70286, 76093, 107406, 111913, 122886, 134853, 135569, 138036, 143355, 171917, 1, 34, 39, 260, 364, 527, 541, 581, 593, 595, 616, 919, 924, 1028, 1035, 1036, 1046, 1097, 1136, 1210, 1214, 1270, 1374, 1375, 1376, 1704, 1907, 2081, 2393, 2407, 2571, 2687, 2692, 2762, 2959, 3052, 3094, 3213, 3275, 3535, 3786, 3793, 3967, 3996, 4306, 4366, 4973, 4993, 5903, 6333, 6377, 6502, 6934, 8961, 27246, 27611, 33794, 34405, 37729, 39183, ...]"
117,599,"[112, 260, 293, 296, 741, 750, 924, 951, 1089, 1178, 1196, 1200, 1208, 1210, 1214, 1274, 1283, 1732, 1967, 2395, 2427, 2571, 2858, 2959, 3030, 3160, 3435, 3703, 3949, 4973, 6711, 6874, 6, 215, 541, 589, 720, 1080, 1129, 1136, 1148, 1206, 1215, 1223, 1249, 1377, 1704, 1945, 2692, 2716, 3087, 3334, 3379, 3468, 3503, 3741, 4226, 4467, 4848, 5669, 6440, 7387, 7748, 27156, 68945, 80463, 96004, 170355, 21, 47, 318, 329, 431, 480, 745, 858, 861, 912, 923, 928, 930, 1036, 1050, 1095, 1097, 1183, 1204, 1213, 1221, 1225, 1230, 1232, 1236, 1237, 1242, 1244, 1246, 1265, 1282, 1291, ...]"
118,601,"[904, 1197, 1203, 2324, 5618, 31658, 48516, 50872, 59315, 60069, 68954, 76093, 134853, 166024, 170705, 908, 953, 1704, 2355, 2762, 3578, 5971, 33794, 48780, 67255, 70286, 74458, 80463, 81834, 88810, 89745, 91529, 106782, 115617, 152081, 172591, 177765, 1, 47, 912, 1136, 1193, 1198, 1207, 1527, 1721, 1917, 3000, 4306, 6016, 44191, 48394, 49272, 54286, 63082, 68157, 72378, 72998, 74946, 78499, 80549, 81845, 95167, 99114, 112852, 122918, 168326, 170697, 174055, 176371, 1584, 3114, 46578, 122916]"
119,610,"[1, 6, 47, 111, 194, 215, 260, 293, 296, 377, 380, 407, 441, 480, 541, 589, 778, 784, 858, 903, 904, 1036, 1089, 1136, 1196, 1198, 1200, 1201, 1208, 1209, 1210, 1213, 1218, 1221, 1228, 1240, 1241, 1245, 1247, 1258, 1261, 1270, 1273, 1274, 1279, 1394, 1676, 1682, 1884, 1923, 1953, 1967, 2000, 2028, 2076, 2288, 2571, 2716, 2916, 2924, 2959, 2968, 2985, 3114, 3246, 3265, 3328, 3362, 3424, 3468, 3527, 3578, 3671, 3681, 3897, 3925, 3972, 3996, 4105, 4226, 4437, 4794, 4848, 4878, 4993, 5139, 5673, 5772, 5833, 5909, 5952, 5954, 6016, 6502, 6711, 7022, 7153, 7361, 7387, 8142, ...]"

In [ ]:
merged_df_test = pd.merge(df, ideal_recomms2, left_on='user_id', right_on='userId', how='inner')
merged_df_test = merged_df_test.rename(columns={'recomms': 'recomms_df', 'movieId': 'recomms_ideal'})
merged_df_test = merged_df_test.drop(columns=['userId'])

merged_df_test

,user_id,recomms_df,recomms_ideal
0,21,"[296, 356, 318, 110, 593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 527, 47, 377]","[47997, 2717, 33679, 117529, 119145, 122886, 122896, 122922, 136020, 143385, 152081, 164179, 167036, 296, 541, 780, 2617, 6155, 30793, 32296, 34048, 36519, 50872, 51662, 53996, 60397, 63082, 68791, 69122, 69526, 72378, 73321, 78469, 79293, 79592, 87520, 90249, 91535, 95167, 96588, 108190, 112138, 114180, 115149, 116823, 122900, 122904, 135133, 135536, 138036, 164909, 166492, 168248, 902, 2052, 2953, 4700, 5219, 5254, 7373, 32587, 34150, 41566, 72641, 93510, 110553, 126548, 130450, 136016, 168252, 1573, 3697, 142536, 58025, 97913, 148675, 6874, 7438, 38038, 143245, 149380, 2174, 5266, 61160, 108932, 160565, 1391, 160872, 173307]"
1,103,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[1206, 1222, 2997, 3160, 64614, 81932, 148626, 48516, 56782, 86882, 923, 1945, 4677, 6873, 61323, 69140, 96728, 116799, 367, 2018, 2421, 4254, 7367, 50912, 106766, 168250, 122886]"
2,105,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[2131, 4788, 5889, 37731, 57183, 80124, 104780, 116897, 120138, 120478, 129514, 130970, 134095, 136445, 136447, 138835, 140265, 141816, 142020, 143511, 145994, 147196, 147250, 147286, 147300, 147326, 147328, 147330, 150548, 151769, 159811, 159817, 163072, 163112, 163386, 163925, 165959, 166183, 170597, 170705, 170777, 171011, 171749, 172577, 172583, 172585, 172587, 172589, 172637, 172793, 172909, 173351, 173355, 173619, 173963, 174551, 175293, 175387, 175397, 175431, 179133, 56060, 86345, 86347, 92535, 98604, 104069, 107408, 120625, 127098, 133712, 133716, 134326, 140038, 141818, 141830, 152081, 163134, 163645, 172825, 173535, 175435, 935, 75341, 101088, 118888, 118896, 122904, 141810, 141820, 147282, 152591, 170411, 175401, 178613, 8533, 54997, 158402]"
3,112,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[91529, 6, 16, 253, 508, 68157, 79132, 19, 62, 104, 141, 288, 292, 454, 1356, 1393, 3717, 68954, 72998, 99114, 551, 778, 70286, 25, 208, 329, 21, 185, 2, 95, 161, 223, 339, 788, 17, 36, 39, 300, 357, 434]"
4,119,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[67255, 103984, 136598, 138210, 148626, 318, 7458, 56174, 89087, 112552, 122904, 131023, 135532, 141004, 142488, 157699, 162350, 165551, 168252, 48774, 50872, 108689, 110718, 110730, 114795, 117533, 129354, 134853, 139385, 139642, 166461, 7454, 8464, 8622, 51077, 64839, 136562, 140711]"
5,233,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[356, 177593, 2571, 3949, 58559, 50, 608, 858, 1206, 1298, 2028, 2324, 2997, 3081, 5418, 5952, 5954, 5995, 6377, 7371, 48516, 60069, 74458, 106100, 112183, 159817, 170705, 47, 364, 778, 924, 1059, 1721, 1921, 2692, 2762, 4239, 4262, 4995, 5816, 5956, 5989, 6016, 6874, 7438, 8368, 8961, 33794, 44555, 49272, 73017, 79132, 81591, 81845, 91529, 92259, 99114, 168266, 180031, 183897, 1, 110, 648, 1136, 1193, 1225, 1580, 1884, 2858, 3285, 6365, 6539, 7458, 27803, 32587, 44191, 54286, 55765, 55872, 57669, 58025, 59315, 69122, 69134, 70286, 86298, 91658, 96020, 109487, 122904, 134214, 178061, 780, 1089, 3948, 6863, 6934, 51086, 72998, 78103, ...]"
6,249,"[592, 590, 153, 165, 316, 349, 231, 161, 292, 454, 329, 185, 10, 34, 339, 597, 300, 587, 539, 39]","[96821, 139385, 164179, 166528, 168252, 187593, 1193, 7438, 122904, 122906, 122912, 122916, 122918, 122920, 122922, 122926, 128360, 137857, 142488, 143355, 148626, 152081, 152970, 158238, 158872, 160718, 166534, 166643, 171763, 175569, 176371, 179819, 185029, 541, 4896, 7254, 8914, 81834, 88125, 108729, 115149, 116823, 122890, 122924, 135133, 135569, 140715, 152077, 157296, 159093, 159755, 161131, 167746, 168254, 168266, 169984, 176101, 182715, 184253, 2717, 120799, 142422, 149352, 160080, 162478, 162606, 167370, 182823, 184015, 135567, 143367, 146210, 148888, 152091, 156609, 160954, 170813, 170875, 173941, 185435, 143365]"
7,285,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[858, 903, 904, 912, 1104, 1252, 1968, 1276, 949, 1304, 1945, 3296, 109374, 474, 7265, 113207, 4091, 1285]"
8,292,"[150, 527, 316, 47, 50, 648, 292, 208, 454, 329, 185, 2858, 736, 339, 300, 539, 288, 39, 410, 95]","[106487, 116823, 1278, 2302, 56775, 102903, 108190, 115617, 119145, 122900, 135133, 166528, 440, 73321, 103335, 130490, 113378, 114180, 2291, 122882, 164909, 1573, 64614, 70286, 102407, 130576, 113345, 129937, 165549, 127323, 118900]"
9,298,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[6283, 1247, 1274, 2858, 50610, 122886, 741, 1220, 1476, 1968, 2115, 2335, 2772, 7099, 136449, 156371, 413, 562, 1320, 1387, 1587, 1916, 2019, 2144, 2193, 2195, 2416, 2628, 2826, 3477, 5378, 33493, 37384, 47640, 54745, 65982, 93363, 96588, 102993, 103048, 103980, 104241, 122904, 122920, 127198, 127202, 133771, 139385, 141688, 163, 208, 780, 1275, 1285, 1439, 1584, 2572, 2599, 2694, 3254, 3617, 3791, 4558, 4900, 36537, 44840, 54256, 61160, 64231, 70663, 76060, 79134, 102033, 103539, 104211, 105213, 108945, 112370, 115713, 135567, 136020, 153, 539, 1466, 1526, 1690, 1746, 1855, 5283, 5363, 5573, 7048, 34523, 47518, 56012, 56801, 58655, 68600, 71135, 84615, ...]"
10,318,"[318, 110, 150, 592, 380, 589, 457, 588, 1, 316, 47, 50, 349, 231, 161, 434, 292, 367, 454, 329]","[1274, 26073, 171495, 179135, 184245, 3569, 3683, 8484, 8724, 26048, 26713, 72356, 87660, 117533, 120478, 134853, 135143, 143896, 148424, 150696, 158238, 159976, 165969, 171011, 173317, 176371, 177593, 188833, 535, 1024, 1639, 3000, 3006, 3728, 3845, 4300, 5475, 5838, 7206, 7209, 27186, 32917, 48001, 49917, 70533, 72714, 72720, 85213, 86922, 91860, 94953, 100277, 102742, 108729, 114678, 117364, 122906, 134214, 134881, 143859, 147002, 158972, 162578, 166528, 168492, 173197, 176, 1289, 4007, 32906, 47446, 48638, 56587, 70984, 84187, 86279, 109187, 133771, 142456, 143355, 152065, 155774, 158842, 160563, 160684, 168612, 182715, 188675, 2952, 4241, 4825, 7228, 7265, 64497, 71867, 95558, 102125, 104243, 106873, 111360, ...]"
11,326,"[593, 480, 150, 592, 590, 380, 589, 457, 344, 780, 588, 153, 1, 47, 32, 165, 316, 377, 349, 260]","[8665, 133771, 139385, 1246, 117466, 142488, 116897, 134130, 142448, 146656]"
12,341,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[59900, 380, 2502, 6537, 114662, 136020, 1036, 1370, 4447, 4816, 5816, 47099, 94677, 119145, 788, 3624, 3751, 5218, 115149, 2720, 3988, 5459, 6218, 6373, 6863, 135137, 69122]"
13,443,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[318, 356, 608, 5952, 7153, 96430, 106918, 110, 1, 260, 296, 79132]"
14,448,"[318, 110, 588, 527, 595, 292, 364, 253, 34, 39, 2028, 141, 266, 225, 62, 1721, 25, 6, 1197, 293]","[923, 152105, 778, 3498, 89305, 104913, 114935, 115617, 122904, 134130, 134393, 134853, 134881, 135861, 155659, 157296, 158872, 113532, 119145, 122900, 129659, 134859, 138210, 139385, 143385, 3284, 79091, 96588, 102819, 103335, 109895, 115149, 115216, 118354, 118572, 118924, 122882, 122892, 122920, 123947, 127204, 129354, 130576, 133419, 134368, 135536, 136020, 136562, 137857, 139415, 139642, 140725, 140928, 142222, 142448, 143859, 145150, 148482, 148592, 149406, 150401, 151777, 152083, 156609, 157122, 159193, 160573, 59369, 114818, 117466, 117529, 119155, 120783, 127136, 127198, 129428, 134021, 135137, 135569, 135887, 136816, 140110, 141422, 142997, 143257, 144620, 145839, 148956, 149590, 150604, 152077, 152085, 152091, 155812, 156553, 156706, 157200, 157270, 157340, 159077, ...]"
15,462,"[110, 480, 150, 590, 380, 457, 344, 780, 588, 153, 165, 316, 349, 595, 648, 161, 434, 292, 367, 208]","[1241, 100556, 152711, 160644, 162414, 167064, 168250, 187717, 44555, 61323, 80862, 91077, 103107, 142488, 146656, 158966, 164917, 171763, 183317, 188189, 1968, 2527, 8949, 48385, 60333, 88744, 103624, 112623, 127136, 134214, 148982, 164179, 179813, 183199, 184721, 1198, 2144, 2997, 5205, 5902, 98809, 111360, 139644, 148626, 161127, 2145, 5212, 55820, 122926, 151311, 122882, 122902, 140928, 189713, 6528, 143355, 164655, 173145, 69757, 91542, 118696, 143859, 1097, 4979, 54648]"
16,511,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[139385, 1653, 2628, 51086, 55814, 55908, 56941, 59387, 90866, 94677, 97752, 105844, 112623, 115149, 119145, 122882, 122916, 164179, 5349, 6534, 41569, 53953, 56757, 95207, 103253, 107406, 114935, 1970, 50601, 96737]"
17,537,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]",[55946]
18,582,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[8368, 40815, 59315, 68358, 122886, 593, 2959, 4226, 91658, 116797]"
19,601,"[296, 356, 318, 593, 480, 110, 589, 780, 260, 150, 2571, 592, 1, 457, 380, 527, 590, 50, 47, 2858]","[904, 1197, 1203, 2324, 5618, 31658, 48516, 50872, 59315, 60069, 68954, 76093, 134853, 166024, 170705, 908, 953, 1704, 2355, 2762, 3578, 5971, 33794, 48780, 67255, 70286, 74458, 80463, 81834, 88810, 89745, 91529, 106782, 115617, 152081, 172591, 177765, 1, 47, 912, 1136, 1193, 1198, 1207, 1527, 1721, 1917, 3000, 4306, 6016, 44191, 48394, 49272, 54286, 63082, 68157, 72378, 72998, 74946, 78499, 80549, 81845, 95167, 99114, 112852, 122918, 168326, 170697, 174055, 176371, 1584, 3114, 46578, 122916]"

In [ ]:
aps = []

for pred, label in merged_df_test[["recomms_ideal","recomms_df"]].values:
  n = len(pred)
  arange = np.arange(n, dtype=np.int32) + 1.
  rel_k = np.in1d(pred[:n], label)
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum()
  denom = arange[rel_k]
  ap = (tp / denom).sum() / len(label)
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.02377